<form
  *ngIf="maintenanceInfoForm"
  class="pcc-maintenance-info"
  ath-form
  [formGroup]="maintenanceInfoForm"
  nzLayout="horizontal"
>
  <ath-form-control class="fomt-item" [nzErrorTip]="errorHandel('question_do_desc')">
    <ath-input-group
      label="{{ 'dj-pcc-处理事项' | translate }}"
      [innerLabel]="true"
      [required]="true"
    >
      <textarea
        athInput
        placeholder="{{ 'dj-pcc-处理事项' | translate }}"
        [cols]="1"
        [rows]="1"
        [autosize]="{ minRows: 1, maxRows: 3 }"
        [maxlength]="255"
        formControlName="question_do_desc"
      ></textarea>
    </ath-input-group>
  </ath-form-control>
  <ath-form-control
    class="fomt-item"
    nzValidatingTip="{{ 'dj-pcc-正在校验中' | translate }}"
    [nzValidateStatus]="employeeValidateStatus"
  >
    <app-select-people
      [openWindowEmployee]="openWindowEmployee"
      label="{{ 'dj-pcc-处理人' | translate }}"
      [innerLabel]="true"
      [required]="true"
      placeholder="{{ 'dj-pcc-处理人' | translate }}"
      formControlKey="process_person_name"
      [formGroup]="maintenanceInfoForm"
      [linkSchema]="['process_person_no']"
      [errorTip]="errorHandel('process_person_name')"
    ></app-select-people>
  </ath-form-control>
  <ath-form-control class="fomt-item" [nzErrorTip]="errorHandel('plan_finish_datetime')">
    <ath-date-picker
      required
      nzPlaceHolder="{{ 'dj-pcc-计划完成日期' | translate }}"
      [innerLabel]="true"
      nzFormat="yyyy/MM/dd"
      formControlName="plan_finish_datetime"
    ></ath-date-picker>
  </ath-form-control>
  <ath-form-control class="fomt-item" [nzErrorTip]="errorHandel('process_status')">
    <ath-select
      isInsideLabel
      label="{{ 'dj-pcc-处理状态' | translate }}"
      [required]="true"
      formControlName="process_status"
      (ngModelChange)="processStatusChange($event)"
    >
      <ath-option
        *ngFor="let item of processStatus"
        [nzValue]="item.value"
        [nzLabel]="'dj-pcc-' + item.key | translate"
      ></ath-option>
    </ath-select>
  </ath-form-control>
  <ath-form-control class="fomt-item" [nzErrorTip]="errorHandel('actual_finish_datetime')">
    <ath-date-picker
      required
      nzPlaceHolder="{{ 'dj-pcc-实际完成日期' | translate }}"
      [innerLabel]="true"
      nzFormat="yyyy/MM/dd"
      formControlName="actual_finish_datetime"
    ></ath-date-picker>
  </ath-form-control>
  <ath-form-control class="fomt-item" [nzErrorTip]="errorHandel('process_description')">
    <ath-input-group innerLabel label="{{ 'dj-pcc-处理说明' | translate }}">
      <textarea
        athInput
        placeholder="{{ 'dj-pcc-处理说明' | translate }}"
        [cols]="1"
        [rows]="3"
        [autosize]="{ minRows: 3, maxRows: 6 }"
        [maxlength]="255"
        formControlName="process_description"
      ></textarea>
    </ath-input-group>
  </ath-form-control>
  <ath-form-control class="fomt-item">
    <ac-upload
      #upload
      label="{{ 'dj-pcc-附件' | translate }}"
      (change)="fileChange($event)"
      [(fileList)]="fileList"
      [multiple]="true"
      [showButton]="fileList.length < 3"
      remark="{{ 'dj-default-请上传50MB以内的附件' | translate }}"
      [dmcSettings]="commonService.uploadDmcSettings"
      [fileListRender]="fileListRender"
      [remove]="fileRemoveHandler"
      [beforeUpload]="beforeUpload"
      [editable]="false"
    ></ac-upload>
    <div class="ant-form-item-explain ant-form-item-explain-error" [hidden]="!attachmentUploading">
      <div class="ng-tns-c1443-71 ng-trigger ng-trigger-helpMotion">
        {{ 'dj-pcc-附件上传中，暂不可提交' | translate }}
      </div>
    </div>
  </ath-form-control>
</form>
