<div class="eoc-select">
  <ath-cascader
    [athLabelRender]="labelRender"
    [athBackdrop]="true"
    [athOptionRender]="optionRender"
    [athOptions]="options"
    athValueProperty="id"
    [formControl]="formControl"
    [(ngModel)]="eocCompanyInfo"
    [athDisabled]="disbale"
    [athAllowClear]="allowClear"
    (athSelectionChange)="onSelectionChange($event)"
  ></ath-cascader>
  <ng-template #optionRender let-option>
    <p class="text-value">
      {{ option.name }}
      <span class="id">{{ option.id }}</span>
    </p>
  </ng-template>

  <ng-template #labelRender>
    <ng-container>
      <p *ngIf="eocCompanyId?.name || eocCompanyId?.id" class="text-value">
        {{ eocCompanyId.name }}
        <span class="id">{{ eocCompanyId.id }}</span>
      </p>
    </ng-container>
  </ng-template>
</div>
