@font-face {
  font-family: 'font-class';
  src: url('iconfont.ttf?t=1621938128860') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  width: 1em;
  height: 1em;
  vertical-align: -0.072em;
  fill: currentColor;
  overflow: hidden;
}

.font-class {
  font-family: 'font-class' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconicon--:before {
  content: "\e79e";
}

.iconpercent:before {
  content: "\e7ac";
}

.iconshangla:before {
  content: "\e79d";
}

.iconxiala3:before {
  content: "\e79c";
}

.iconsousuo3:before {
  content: "\e79a";
}

.iconOboshiqiehuan1:before {
  content: "\e79b";
}

.iconsousuo2:before {
  content: "\e798";
}

.iconOboshiqiehuan:before {
  content: "\e799";
}

.iconrenwuweiwancheng:before {
  content: "\e796";
}

.iconrenwuyiwancheng:before {
  content: "\e797";
}

.iconketiqianwanchengrenwu:before {
  content: "\e793";
}

.iconjinrixuwanchengrenwu:before {
  content: "\e794";
}

.iconyushirenwu:before {
  content: "\e795";
}

.iconsuoding:before {
  content: "\e791";
}

.iconbaobiaotubiao:before {
  content: "\e792";
}

.iconshanchu2:before {
  content: "\e787";
}

.iconshiyongzhong:before {
  content: "\e788";
}

.iconweishiyong:before {
  content: "\e789";
}

.iconxinzeng2:before {
  content: "\e790";
}

.iconweizhihang1:before {
  content: "\e78d";
}

.iconyizhihang-yuqi1:before {
  content: "\e78e";
}

.iconyizhihang1:before {
  content: "\e78f";
}

.iconxinzengfenzu:before {
  content: "\e78c";
}

.icondaorucanshu:before {
  content: "\e78a";
}

.iconshezhi:before {
  content: "\e78b";
}

.icontubiao-cailiaoyiExceldaoru1:before {
  content: "\e786";
}

.iconleibie:before {
  content: "\e77d";
}

.iconshiziguangbiao:before {
  content: "\e77e";
}

.iconkemu:before {
  content: "\e77f";
}

.iconsousuo1:before {
  content: "\e785";
}

.iconlijizhihang:before {
  content: "\e783";
}

.iconjianshi:before {
  content: "\e784";
}

.icontishiic:before {
  content: "\e84d";
}

.iconxinjianmoban:before {
  content: "\e782";
}

.iconzhongzhi:before {
  content: "\e846";
}

.iconyoubeifen:before {
  content: "\e847";
}

.icona-zuobeifen2:before {
  content: "\e848";
}

.icontuozhuaiguangbiao:before {
  content: "\e780";
}

.iconhengxiangtuozhuai:before {
  content: "\e781";
}

.iconpiliangweihu:before {
  content: "\e77c";
}

.iconxiala2:before {
  content: "\e77b";
}

.iconkaichuang:before {
  content: "\e75b";
}

.iconoptionempty:before {
  content: "\e77a";
}

.iconzhongyao:before {
  content: "\e779";
}

.iconxin1:before {
  content: "\e776";
}

.iconshanchu1:before {
  content: "\e777";
}

.icongai:before {
  content: "\e778";
}

.icontubiao-cailiaoyiExceldaoru:before {
  content: "\e76f";
}

.icontubiao-kaishi:before {
  content: "\e770";
}

.icontubiao-zhongjian-01:before {
  content: "\e771";
}

.icontubiao-cailiaodaochuzhiExcel:before {
  content: "\e772";
}

.icontubiao-jiezhi:before {
  content: "\e773";
}

.icontubiao-cailiaoyiBOMdaoru:before {
  content: "\e774";
}

.icontubiao-qizhi:before {
  content: "\e775";
}

.iconfuheziduanyipaixu:before {
  content: "\e76e";
}

.iconyinsi:before {
  content: "\e76d";
}

.icontuozhuai1:before {
  content: "\e76c";
}

.iconfangda:before {
  content: "\e763";
}

.iconchehui:before {
  content: "\e764";
}

.iconjingxiang:before {
  content: "\e765";
}

.iconguanbi3:before {
  content: "\e766";
}

.iconquanping1:before {
  content: "\e767";
}

.iconxiazai:before {
  content: "\e768";
}

.iconyoufanzhuan:before {
  content: "\e769";
}

.iconsuoxiao:before {
  content: "\e76a";
}

.iconzuofanzhuan:before {
  content: "\e76b";
}

.iconyisheweichangyong2:before {
  content: "\e761";
}

.iconpdf:before {
  content: "\e762";
}

.iconrenwu2:before {
  content: "\e75e";
}

.iconxiangmu1:before {
  content: "\e75f";
}

.iconrenyuan:before {
  content: "\e760";
}

.iconicon-unlock:before {
  content: "\e75c";
}

.iconicon-lock:before {
  content: "\e75d";
}

.iconweikaishi:before {
  content: "\e75a";
}

.iconyuqi4:before {
  content: "\e759";
}

.iconjinhangzhong:before {
  content: "\e758";
}

.iconxiaoyuqibeifen:before {
  content: "\e757";
}

.iconxinzeng1:before {
  content: "\e756";
}

.iconbianjiicon:before {
  content: "\e755";
}

.iconshaixuan:before {
  content: "\e754";
}

.iconren:before {
  content: "\e753";
}

.icondizhi:before {
  content: "\e750";
}

.iconbiaoqian:before {
  content: "\e751";
}

.iconbumen:before {
  content: "\e752";
}

.icondianhua:before {
  content: "\e74f";
}

.iconrenwutouxiang:before {
  content: "\e74e";
}

.icondian:before {
  content: "\e74d";
}

.iconzhengchang:before {
  content: "\e74c";
}

.iconfuzhi:before {
  content: "\e74b";
}

.iconITyunweimozuicon:before {
  content: "\e74a";
}

.iconhangshiliicon:before {
  content: "\e749";
}

.iconzuhu1:before {
  content: "\e748";
}

.iconyishaixuan1:before {
  content: "\e747";
}

.iconshuziyuangongkanbanicon:before {
  content: "\e746";
}

.iconxiaojinji:before {
  content: "\e745";
}

.iconxiaoyuqi:before {
  content: "\e744";
}

.iconxuanzhuantupian:before {
  content: "\e743";
}

.iconxingzuoshouqi1:before {
  content: "\e741";
}

.iconguanbianniu2:before {
  content: "\e742";
}

.iconbianzu6:before {
  content: "\e740";
}

.iconxingzuoshouqi:before {
  content: "\e73f";
}

.iconguanbianniu1:before {
  content: "\e73e";
}

.icona-rengongxiaoguanyan:before {
  content: "\e73c";
}

.iconzhuanancailiao:before {
  content: "\e73d";
}

.iconxiangxia:before {
  content: "\e73b";
}

.iconzhuanpaijilu:before {
  content: "\e73a";
}

.iconpaixu1:before {
  content: "\e739";
}

.iconguanbianniu:before {
  content: "\e738";
}

.icona-bianzu81:before {
  content: "\e737";
}

.iconyixuanzhongicon:before {
  content: "\e736";
}

.iconweixuanzhongicon:before {
  content: "\e735";
}

.iconxinzengicon:before {
  content: "\e733";
}

.iconquxiaoicon:before {
  content: "\e732";
}

.iconyisheweichangyong1:before {
  content: "\e731";
}

.iconshoucang:before {
  content: "\e730";
}

.icona-bianzu9:before {
  content: "\e72f";
}

.icona-bianzu8:before {
  content: "\e72e";
}

.iconfasongwenjian1:before {
  content: "\e72b";
}

.iconbiaoqing1:before {
  content: "\e72c";
}

.iconxiaoxijilu1:before {
  content: "\e72d";
}

.iconfasongwenjian:before {
  content: "\e728";
}

.iconxiaoxijilu:before {
  content: "\e729";
}

.iconbiaoqing:before {
  content: "\e72a";
}

.iconmaotouying:before {
  content: "\e727";
}

.iconjizi:before {
  content: "\e726";
}

.iconchangyongicon:before {
  content: "\e725";
}

.iconbaobiao:before {
  content: "\e724";
}

.icongongju:before {
  content: "\e721";
}

.iconmenufile:before {
  content: "\e722";
}

.iconshujuchaxun:before {
  content: "\e723";
}

.iconjilu:before {
  content: "\e71f";
}

.iconfenleishouqi:before {
  content: "\e71e";
}

.iconfenleizhankai1:before {
  content: "\e720";
}

.iconyisheweichangyong:before {
  content: "\e71d";
}

.iconweisheweichangyong:before {
  content: "\e71c";
}

.iconshouzhi:before {
  content: "\e71b";
}

.iconxinzeng:before {
  content: "\e71a";
}

.icondaoru1:before {
  content: "\e719";
}

.iconshuoming2:before {
  content: "\e718";
}

.iconshubiao:before {
  content: "\e717";
}

.iconhand-click:before {
  content: "\e716";
}

.iconwentikanban:before {
  content: "\e715";
}

.iconrenwupeizhiqi:before {
  content: "\e714";
}

.iconwentifankui:before {
  content: "\e713";
}

.iconmonipeizhiqi:before {
  content: "\e712";
}

.iconxiala1:before {
  content: "\e711";
}

.iconzhihangxinxi:before {
  content: "\e710";
}

.iconzhihang1:before {
  content: "\e70f";
}

.iconbianzu5:before {
  content: "\e70e";
}

.icona-3:before {
  content: "\e70b";
}

.icona-2:before {
  content: "\e70c";
}

.icona-11:before {
  content: "\e70d";
}

.iconshijian1:before {
  content: "\e708";
}

.iconliebiao:before {
  content: "\e709";
}

.iconkapian:before {
  content: "\e70a";
}

.icona-dingweiweizhi1:before {
  content: "\e707";
}

.iconjiaose:before {
  content: "\e706";
}

.iconliangdiandengpao:before {
  content: "\e705";
}

.iconyingyongdaolan:before {
  content: "\e704";
}

.icontuozhuai:before {
  content: "\e703";
}

.iconchaxunicon1:before {
  content: "\e702";
}

.icontuichuquanping:before {
  content: "\e701";
}

.iconquanping:before {
  content: "\e6ff";
}

.icondaochu:before {
  content: "\e700";
}

.iconbianzu4:before {
  content: "\e6fe";
}

.iconchuangkouzuixiao:before {
  content: "\e6ed";
}

.iconyuqi3:before {
  content: "\e6fd";
}

.iconrenwu1:before {
  content: "\e6fc";
}

.iconwudaiban:before {
  content: "\e6fb";
}

.iconbianzu3:before {
  content: "\e6f9";
}

.iconquanbuguanbi:before {
  content: "\e6fa";
}

.icona-bianzu15:before {
  content: "\e6f8";
}

.icona-1:before {
  content: "\e6f7";
}

.iconsuoding1:before {
  content: "\e6f6";
}

.iconshanchu-dianji:before {
  content: "\e6f5";
}

.iconshanchu:before {
  content: "\e6f4";
}

.iconzuhu:before {
  content: "\e6f3";
}

.iconyonghu:before {
  content: "\e6f2";
}

.iconbanxuan:before {
  content: "\e6f0";
}

.iconyixuan:before {
  content: "\e6ee";
}

.iconweixuan:before {
  content: "\e6ef";
}

.iconkeshihuazuojiantou:before {
  content: "\e6eb";
}

.iconkeshihuayoujiantou:before {
  content: "\e6ec";
}

.iconkaishi:before {
  content: "\e6ea";
}

.iconeye-open:before {
  content: "\e6e9";
}

.iconeye-close:before {
  content: "\e6e8";
}

.iconaccount:before {
  content: "\e6e7";
}

.iconlock:before {
  content: "\e6e6";
}

.iconcunchu1:before {
  content: "\e6e2";
}

.iconjixiao1:before {
  content: "\e6e3";
}

.iconxiaoxi1:before {
  content: "\e6e4";
}

.icondaiban1:before {
  content: "\e6e5";
}

.iconzhengzaijinhang1:before {
  content: "\e6e1";
}

.iconhuiban:before {
  content: "\e6e0";
}

.iconxinshouyindaobiaoshi:before {
  content: "\e6df";
}

.iconshuoming1:before {
  content: "\e6dd";
}

.iconshuomingdianji:before {
  content: "\e6dc";
}

.icontuodongpaixu:before {
  content: "\e6db";
}

.iconguanbi-copy:before {
  content: "\e6de";
}

.iconguanbi:before {
  content: "\e6da";
}

.icontongzhi:before {
  content: "\e6d9";
}

.iconqian:before {
  content: "\e6d7";
}

.iconxu:before {
  content: "\e6d6";
}

.iconkefuxuanzhong:before {
  content: "\e6d3";
}

.iconzhuizong:before {
  content: "\e6d4";
}

.iconliuyanzixun:before {
  content: "\e6d5";
}

.iconkefuhover1:before {
  content: "\e6d8";
}

.iconjielunbiaoji:before {
  content: "\e6d2";
}

.iconzhankaiicon:before {
  content: "\e6d1";
}

.iconshouqiicon:before {
  content: "\e6d0";
}

.icondaochuicon:before {
  content: "\e6cd";
}

.iconchaxunicon:before {
  content: "\e6ce";
}

.iconquanpingicon:before {
  content: "\e6cf";
}

.iconicon_setting_border:before {
  content: "\e6cc";
}

.iconicon_setting:before {
  content: "\e605";
}

.iconbianzu2:before {
  content: "\e6cb";
}

.iconbianzu1:before {
  content: "\e6b5";
}

.icondoubleTop:before {
  content: "\e6c9";
}

.icondoubleBottom:before {
  content: "\e6ca";
}

.iconim_company:before {
  content: "\e6c7";
}

.iconim_department:before {
  content: "\e6c8";
}

.iconrefresh1:before {
  content: "\e6c6";
}

.iconqunliaoicon:before {
  content: "\e6c5";
}

.iconxueyuan:before {
  content: "\e6c4";
}

.iconrumen:before {
  content: "\e6c3";
}

.iconbaobiaoicon:before {
  content: "\e6c2";
}

.iconjiantou:before {
  content: "\e6c1";
}

.icongoutongjilu:before {
  content: "\e6be";
}

.iconmorenshaixuan:before {
  content: "\e6ba";
}

.iconpaixumoren:before {
  content: "\e6b3";
}

.iconjiangxu1:before {
  content: "\e6b4";
}

.iconshenxu:before {
  content: "\e6b6";
}

.iconyishaixuan:before {
  content: "\e6bd";
}

.icondrop-down-tran:before {
  content: "\e6b2";
}

.icondanchuxiaoxiguanbi:before {
  content: "\e6aa";
}

.icongongzuotixingdanchu:before {
  content: "\e6ab";
}

.iconrenwuqunliao-lishi:before {
  content: "\e6b7";
}

.iconxiangmuqunliao:before {
  content: "\e6b8";
}

.iconjiluxuanzhong:before {
  content: "\e6b9";
}

.iconguanlianicon:before {
  content: "\e6bb";
}

.iconzhuanfa:before {
  content: "\e6bc";
}

.iconxiaoxiweixuanzhong:before {
  content: "\e6bf";
}

.iconxiaoxixuanzhong:before {
  content: "\e6c0";
}

.iconxiangmu:before {
  content: "\e6a9";
}

.iconjiangxu:before {
  content: "\e6ad";
}

.iconpaixu:before {
  content: "\e6ae";
}

.iconshengxu:before {
  content: "\e6af";
}

.iconshaixuan1:before {
  content: "\e6b0";
}

.iconshaixuan21:before {
  content: "\e6b1";
}

.iconjiaofushejiqi:before {
  content: "\e6ac";
}

.iconjinxing:before {
  content: "\e6a8";
}

.iconjinji1:before {
  content: "\e6a7";
}

.iconyuqi2:before {
  content: "\e6a6";
}

.iconrenwutouxiagn:before {
  content: "\e6a5";
}

.iconshare1:before {
  content: "\e6a4";
}

.iconupload2:before {
  content: "\e6a0";
}

.iconnotice1:before {
  content: "\e6a1";
}

.icondownload1:before {
  content: "\e6a2";
}

.iconUpload-more1:before {
  content: "\e6a3";
}

.iconreplace1:before {
  content: "\e69f";
}

.icongouxuan1:before {
  content: "\e691";
}

.iconrenwuyuqishuaitishi:before {
  content: "\e69d";
}

.iconyingwanchengshengyugongshi:before {
  content: "\e69c";
}

.iconbiaogezhonglahou:before {
  content: "\e69b";
}

.iconbiaogezhongchaoqian:before {
  content: "\e69a";
}

.iconlahou:before {
  content: "\e699";
}

.iconchaoqian:before {
  content: "\e698";
}

.iconzhunshi:before {
  content: "\e697";
}

.iconsousuo:before {
  content: "\e633";
}

.iconhuishouzhan1:before {
  content: "\e696";
}

.iconbianzu:before {
  content: "\e695";
}

.icondelete3:before {
  content: "\e65c";
}

.iconselectRelation:before {
  content: "\e69e";
}

.iconjiaofuwu:before {
  content: "\e692";
}

.iconlichengbei:before {
  content: "\e693";
}

.iconqianhe:before {
  content: "\e694";
}

.iconzhuomian:before {
  content: "\e690";
}

.iconprev:before {
  content: "\e68f";
}

.iconnext:before {
  content: "\e68e";
}

.icon_back_to_top:before {
  content: "\e68d";
}

.iconwarning:before {
  content: "\e6f1";
}

.iconbeizhu:before {
  content: "\e68c";
}

.iconzhankai:before {
  content: "\e68b";
}

.iconshouqi:before {
  content: "\e68a";
}

.iconzhixingren:before {
  content: "\e689";
}

.iconmuban:before {
  content: "\e688";
}

.iconupload1:before {
  content: "\e687";
}

.icondelete2:before {
  content: "\e686";
}

.icon_icon_location:before {
  content: "\e685";
}

.icon_single_arrow:before {
  content: "\e684";
}

.icon_eye_open:before {
  content: "\e683";
}

.icon_eye_close:before {
  content: "\e680";
}

.icon_doughnut_legend2:before {
  content: "\e681";
}

.icon_doughnut_legend:before {
  content: "\e682";
}

.iconshaixuan2:before {
  content: "\e67f";
}

.iconquanpin:before {
  content: "\e67b";
}

.iconkehu:before {
  content: "\e67c";
}

.iconshuoming:before {
  content: "\e67d";
}

.icontcqp:before {
  content: "\e67e";
}

.iconzhuanpai:before {
  content: "\e67a";
}

.icon_proxy_date:before {
  content: "\e679";
}

.icon_arrow_right:before {
  content: "\e678";
}

.icondaoru:before {
  content: "\e672";
}

.icondaoruchenggong:before {
  content: "\e673";
}

.iconzhengzaijinhang:before {
  content: "\e674";
}

.iconshijian:before {
  content: "\e675";
}

.iconyichangtishi:before {
  content: "\e676";
}

.iconchenggongda:before {
  content: "\e677";
}

.icon_bot_speak_dot:before {
  content: "\e671";
}

.icon_bot_eye:before {
  content: "\e670";
}

.icon_desktop_performer:before {
  content: "\e66f";
}

.icon_desktop_notice:before {
  content: "\e66e";
}

.iconxiala:before {
  content: "\e66d";
}

.iconicon_init-project:before {
  content: "\e665";
}

.iconicon_design:before {
  content: "\e666";
}

.iconicon_login-out:before {
  content: "\e667";
}

.iconicon_basic-data:before {
  content: "\e668";
}

.iconicon_project-progress:before {
  content: "\e669";
}

.iconicon_my-task:before {
  content: "\e66a";
}

.iconicon_progress-check:before {
  content: "\e66b";
}

.iconicon_project-view:before {
  content: "\e66c";
}

.iconzuixiaocengjiicon:before {
  content: "\e664";
}

.iconicon_notice:before {
  content: "\e661";
}

.iconicon_all-menu:before {
  content: "\e662";
}

.iconicon_module:before {
  content: "\e663";
}

.iconicon_tenant:before {
  content: "\e600";
}

.iconxinjianicon:before {
  content: "\e660";
}

.iconxiaotianjiazixiang:before {
  content: "\e65f";
}

.iconriqi:before {
  content: "\e65e";
}

.iconqianzhirenwu:before {
  content: "\e65d";
}

.icongongshi:before {
  content: "\e65b";
}

.iconfuzeren:before {
  content: "\e65a";
}

.iconcengji:before {
  content: "\e659";
}

.icongouxuan:before {
  content: "\e658";
}

.iconbianzu12:before {
  content: "\e657";
}

.iconguanbi2:before {
  content: "\e656";
}

.iconguanbi1:before {
  content: "\e655";
}

.iconyichangxiaoicon:before {
  content: "\e654";
}

.iconyuqixiao2:before {
  content: "\e653";
}

.iconyuqi1:before {
  content: "\e651";
}

.iconyuqixiao1:before {
  content: "\e652";
}

.iconyiwancheng-xuanzhong:before {
  content: "\e650";
}

.iconbianzu22:before {
  content: "\e64f";
}

.iconzhengchang-guanliren:before {
  content: "\e64e";
}

.iconyichang-guanliren:before {
  content: "\e64d";
}

.iconperson:before {
  content: "\e64c";
}

.iconxingzhuangjiehe:before {
  content: "\e641";
}

.iconlujing1:before {
  content: "\e63e";
}

.iconlujing:before {
  content: "\e606";
}

.iconxingzhuang:before {
  content: "\e602";
}

.iconshebeizong:before {
  content: "\e601";
}

.iconz1:before {
  content: "\e64a";
}

.iconproject:before {
  content: "\e64b";
}

.iconz:before {
  content: "\e648";
}

.iconjy:before {
  content: "\e647";
}

.iconsc:before {
  content: "\e644";
}

.iconsj:before {
  content: "\e645";
}

.iconyc:before {
  content: "\e646";
}

.icongf1:before {
  content: "\e643";
}

.iconwf:before {
  content: "\e642";
}

.iconxin:before {
  content: "\e640";
}

.iconyuan:before {
  content: "\e63f";
}

.iconnone:before {
  content: "\e63d";
}

.iconclose:before {
  content: "\e63c";
}

.icontip:before {
  content: "\e63b";
}

.iconsuggestion:before {
  content: "\e637";
}

.iconhousehold:before {
  content: "\e638";
}

.icontotal:before {
  content: "\e639";
}

.iconraw-material:before {
  content: "\e63a";
}

.iconicon-test:before {
  content: "\e636";
}

.icondate-red:before {
  content: "\e635";
}

.icondate1:before {
  content: "\e634";
}

.iconset:before {
  content: "\e631";
}

.iconshare:before {
  content: "\e632";
}

.iconset-copy:before {
  content: "\e734";
}

.iconUpload-more:before {
  content: "\e630";
}

.icondown:before {
  content: "\e62e";
}

.iconup:before {
  content: "\e62f";
}

.iconchaxun:before {
  content: "\e62a";
}

.iconfaqi:before {
  content: "\e62b";
}

.iconjindu:before {
  content: "\e62c";
}

.iconrenwu:before {
  content: "\e62d";
}

.iconyuqi:before {
  content: "\e628";
}

.iconjinji:before {
  content: "\e629";
}

.iconconduct:before {
  content: "\e627";
}

.iconmore3:before {
  content: "\e649";
}

.iconmore2:before {
  content: "\e626";
}

.iconback:before {
  content: "\e625";
}

.icondelete1:before {
  content: "\e624";
}

.iconmore:before {
  content: "\e623";
}

.icondai:before {
  content: "\e622";
}

.iconnew:before {
  content: "\e621";
}

.iconwarn:before {
  content: "\e61b";
}

.iconagent:before {
  content: "\e61e";
}

.iconabnormal:before {
  content: "\e61f";
}

.iconnews:before {
  content: "\e620";
}

.iconimportant:before {
  content: "\e61c";
}

.iconoverdue:before {
  content: "\e61d";
}

.icongreen-hook:before {
  content: "\e619";
}

.iconignore:before {
  content: "\e61a";
}

.iconreasonable:before {
  content: "\e618";
}

.iconsuggest:before {
  content: "\e617";
}

.iconchanging:before {
  content: "\e615";
}

.iconchanged:before {
  content: "\e616";
}

.iconexplain:before {
  content: "\e614";
}

.iconreplace:before {
  content: "\e613";
}

.iconnotice2:before {
  content: "\e611";
}

.iconnotice:before {
  content: "\e612";
}

.iconProcessing:before {
  content: "\e610";
}

.iconschedule:before {
  content: "\e60f";
}

.icondate:before {
  content: "\e60d";
}

.icondelete:before {
  content: "\e60e";
}

.icondownload:before {
  content: "\e60a";
}

.icondrop-down1:before {
  content: "\e60b";
}

.icondismantle:before {
  content: "\e60c";
}

.iconsee:before {
  content: "\e607";
}

.iconrefresh:before {
  content: "\e608";
}

.iconupload:before {
  content: "\e609";
}

.iconedit1:before {
  content: "\e603";
}

.iconcall1:before {
  content: "\e604";
}

