<div class="spin-box" *ngIf="isShowSpin; else startShow">
  <nz-spin nzSimple></nz-spin>
</div>
<ng-template #startShow>
  <ac-tabset
    [class.is-full-screen]="taskDetailService.isFullScreen"
    [nzTabBarExtraContent]="showCloseBtn ? nzTabBarExtraContent : null"
    [(nzSelectedIndex)]="taskDetailService.tabSelectedIndex"
    (nzSelectedIndexChange)="selectedIndexChange()"
  >
    <ac-tab [nzTitle]="tab.label | translate : { n: tab.sum }" *ngFor="let tab of tabList">
      <ac-editable-table
        #editableTable
        [getRowClass]="getRowClass"
        (filterChanged)="test($event)"
        [frameworkComponents]="frameworkComponents"
        [componentCode]="'table'"
        [dataSource]="tab.tableDataSource"
        [buttonOperations]="tab.taleButtonOperations"
        [rowCheckbox]="false"
        [pagination]="false"
        [columnDefs]="tab.tableColumnDefs"
        [frameworkComponents]="frameworkComponents"
        [athTableProps]="athTableProps"
      ></ac-editable-table>
    </ac-tab>
  </ac-tabset>
</ng-template>
<ng-template #nzTabBarExtraContent>
  <div class="close-detail" (click)="closeTaskDetail()">
    <svg
      t="1712045181304"
      class="icon"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      p-id="3956"
      width="200"
      height="200"
    >
      <path
        d="M245.321143 193.536L512 460.288l266.678857-266.752a36.571429 36.571429 0 0 1 51.785143 51.785143L563.712 512l266.752 266.678857a36.571429 36.571429 0 0 1-51.785143 51.785143L512 563.712l-266.678857 266.752a36.571429 36.571429 0 0 1-51.785143-51.785143L460.288 512 193.536 245.321143a36.571429 36.571429 0 1 1 51.785143-51.785143z"
        p-id="3957"
      ></path>
    </svg>
  </div>
</ng-template>
