<li
  *ngIf="
      source === Entry.maintain ||
      source === Entry.card
    "
  nz-menu-item
  (click)="downLoad()"
  [userBehavior]="{ name: 'dj-default-下载EXCEL模板', code: downLoadCode }"
  [nzDisabled]='source === Entry.card && !wbsService.projectInfo.project_type_no'
>
  {{ 'dj-default-下载EXCEL模板' | translate }}
</li>
<li
  nz-menu-item
  *ngIf="source === Entry.maintain || wbsService.projectInfo?.project_status === '10'"
  (click)="upload()"
  [nzDisabled]="(wbsService.projectInfo?.project_status === '10' &&
        !wbsService.projectInfo.project_type_no) ||
      wbsService.hasCollaborationCard ||
      !wbsService.editable"
>
  {{ 'dj-default-EXCEL导入' | translate }}
</li>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle=""
  [nzClosable]="isShowClose"
  nzWidth="400px"
  nzClassName="wbsUploadModal"
>
  <ng-template nzModalContent>
    {{ 'dj-pcc-使用EXCEL导入将会覆盖现有的内容,是否继续 EXCEL导入' | translate }}
  </ng-template>
  <div *nzModalFooter>
    <div class="wbs_upload_btn">
      <button nz-button nzType="default" (click)="handleCancel()" [disabled]="uploadLoading">
        {{ 'dj-default-取消' | translate }}
      </button>
      <div class="submitBtn">
        <input
          *ngIf="!uploadLoading"
          type="file"
          name="multipartFile"
          class="upload-file-reset"
          (change)="importData($event)"
          [userBehavior]="{ name: 'dj-default-EXCEL导入', importDataCode: downLoadCode }"
        />
        <button nz-button nzType="primary" [nzLoading]="uploadLoading">
          {{ 'dj-default-确定' | translate }}
        </button>
      </div>
    </div>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleError"
  [nzTitle]="this.translatePccWord('导入错误信息')"
  [nzClosable]="isShowClose"
  [nzCancelText]="isShowCancel"
  (nzOnOk)="handleOk()"
  nzWidth="800px"
  nzClassName="uploadErrorModal"
>
  <ng-template nzModalContent>
    <nz-table
      nzTableLayout="fixed"
      #basicTable
      [nzData]="errorList"
      [nzShowPagination]="isShowPage"
    >
      <thead>
        <tr>
          <th nzEllipsis nzBreakWord nzWidth="150px">{{ 'dj-default-任务名称' | translate }}</th>
          <th>{{ 'dj-pcc-检验结果' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of errorList">
          <td>{{ data.task_name }}</td>
          <td>{{ data.validate_mistake_message }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-template>
</nz-modal>
