<div *ngIf="enableFeedback" class="question-quick">
  <button
    ath-toolbar-button
    (click)="jumpFromCheck()"
    [ngClass]="isRight ? 'showTitleRight' : 'showTitle'"
  >
    {{ 'dj-default-问题反馈' | translate }}
  </button>
  <nz-modal
    [(nzVisible)]="isNoAuth"
    [nzOkText]="getText('dj-default-我知道了')"
    [nzOnCancel]="closeNoAuth"
    [nzOnOk]="closeNoAuth"
    [nzCancelText]="null"
    [nzFooter]="null"
    nzCentered
    nzClassName="pcc-questionModal"
  >
    <ng-template nzModalContent>
      <p class="pcc-questionModal-content">
        <em nz-icon nzType="info-circle" nzTheme="outline"></em>
        {{ 'dj-default-无问题快反的授权，请联系管理员！' | translate }}
      </p>
      <div class="pcc-questionModal-button-box">
        <button nz-button nzType="primary" (click)="closeNoAuth()">
          {{ 'dj-default-我知道了' | translate }}
        </button>
      </div>
    </ng-template>
  </nz-modal>
</div>
