<div nz-row [nzGutter]="24" class="row-box" [formGroup]="data.validateForm">
  <div nz-col class="gutter-row" nzSpan="12">
    <nz-form-item>
      <nz-form-control>
        <div style="display: flex; align-items: center;">
          <ath-input-number
            class="input-number-base-style"
            [placeholder]="translateWord('工时系数')"
            formControlName="standard_days"
            [min]="0"
            [precision]="2"
            [precisionMode]="customPrecisionFn"
            [step]="1"
            [disabled]="data.disabled"
            [innerLabel]="true"
            [label]="translateWord('工时系数')"
          ></ath-input-number>
          <div style="width: 22px;text-align: right;">{{translateWord('天')}}</div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col class="gutter-row" nzSpan="12">
    <nz-form-item>
      <nz-form-control>
        <div style="display: flex; align-items: center;">
          <ath-input-number
            class="input-number-base-style"
            [placeholder]="translateWord('标准工时')"
            formControlName="standard_work_hours"
            [min]="0"
            [precision]="2"
            [precisionMode]="customPrecisionFn"
            [step]="1"
            [disabled]="data.disabled"
            (focus)="rerverseClick()"
            [innerLabel]="true"
            [label]="translateWord('标准工时')"
          ></ath-input-number>
          <div style="width: 40px;text-align: right;">{{translateWord('小时')}}</div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<!-- <div class="row-box" nz-row [nzGutter]="24" [formGroup]="data.validateForm">
  <div nz-col class="col-box" nzSpan="12">
    <nz-form-item>
      <nz-form-control>
        <div class="item-box">
          <div class="em-box">
            <em class="icon">
              <svg class="iconfont" aria-hidden="true">
                <use xlink:href="#icongongshi"></use>
              </svg>
            </em>
          </div>
          <nz-input-number
            class="input-number-base-style"
            nz-input
            [nzPlaceHolder]="translateWord('工时系数')"
            formControlName="standard_days"
            [nzMin]="0"
            [nzPrecision]="2"
            [nzPrecisionMode]="customPrecisionFn"
            [nzStep]="1"
            [nzDisabled]="data.disabled"
          ></nz-input-number>
        </div>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col class="col-box" nzSpan="12">
    <nz-form-item>
      <nz-form-control>
        <nz-input-number
          class="input-number-base-style"
          nz-input
          [nzPlaceHolder]="translateWord('标准工时')"
          formControlName="standard_work_hours"
          [nzMin]="0"
          [nzPrecision]="2"
          [nzPrecisionMode]="customPrecisionFn"
          [nzStep]="1"
          [nzDisabled]="data.disabled"
          (focus)="rerverseClick()"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </div>
</div> -->
