<form ath-form [formGroup]="validateForm">
  <!-- <ath-form-control class="fomt-item" [nzErrorTip]="errorHandel('question_do_desc')"> -->
    <div class="input-group-div-box">
      <ath-input-group [label]="inputGroupInfo['label']" [innerLabel]="true" [style]="inputGroupInfo['transparentTransmissionStyle']">
        <input
          formControlName="project_name"
          style="height: 100%"
          athInput
          type="text"
          readonly
          [placeholder]="inputGroupInfo['placeholder']"
        />
      </ath-input-group>
      <div
        class="delete-icon"
        (click)="delete($event)"
        *ngIf="validateForm.value.project_name"
      >
        <i athIcon [iconfont]="'iconshanchu'"></i>
      </div>
      <div class="open-window-icon" (click)="openWindow()">
        <i athIcon [iconfont]="'icon-kaichuang'"></i>
      </div>
    </div>
<!-- </ath-form-control> -->
</form>