<nz-spin [nzSpinning]="tabLoading">
  <div class="tabs">
    <nz-alert
      class="errorInfo"
      *ngIf="wbsService.needRefresh && source !== Entry.projectChange"
      nzType="error"
      [nzMessage]="wbsService.needRefresh"
      nzShowIcon
    ></nz-alert>
    <nz-alert
      class="errorInfo"
      *ngIf="
        wbsService.projectInfo?.project_status === '10' &&
        !wbsService.projectInfo?.project_type_no &&
        source !== Entry.projectChange
      "
      nzType="error"
      [nzMessage]="startTipInfo"
      nzShowIcon
    ></nz-alert>
    <nz-alert
      class="errorInfo"
      *ngIf="wbsService.taskProportionCheck?.projectInfoTip"
      nzType="error"
      [nzMessage]="taskTipInfo"
      nzShowIcon
    ></nz-alert>
    <ac-tabset
      nzType="card"
      [(nzSelectedIndex)]="tabIndex"
      (nzSelectedIndexChange)="changeIndex($event)"
      [nzTabBarExtraContent]="extraTemplate"
    >
      <ac-tab
        nzTitle="{{ 'dj-default-计划维护' | translate }}"
        (nzSelect)="tabClickHandle('app-dynamic-wbs')"
      >
        <app-dynamic-wbs
          *ngIf="wbsService.projectInfo?.project_no"
          [source]="Entry.card"
          [sourceRealy]="sourceRealy"
          [changeConfigData]="changeConfigData"
          [tabName]="tabName"
          #wbsComponent
        ></app-dynamic-wbs>
      </ac-tab>
      <ac-tab
        nzTitle="{{ 'dj-pcc-专案基础信息维护' | translate }}"
        (nzSelect)="tabClickHandle('app-project-creation')"
      >
        <app-project-creation
          *ngIf="wbsService.projectInfo?.project_no"
          [potentialStatus]="wbsTabsService.potentialStatus"
          [tabIndex]="tabIndex"
          [tabName]="tabName"
          [source]="Entry.card"
          [sourceRealy]="sourceRealy"
          (successTransfer)="successTransfer($event)"
          (changeConfig)="changeConfig($event)"
          #creationComponent
        ></app-project-creation>
      </ac-tab>
      <ac-tab
        nzTitle="{{ 'dj-pcc-账款分期信息' | translate }}"
        *ngIf="hasGroundEnd === 'Y' && enableInstalment"
        (nzSelect)="tabClickHandle('app-accounts-periodization')"
      >
      <app-accounts-periodization [tabName]="tabName" [projectInfo]="wbsService?.projectInfo"></app-accounts-periodization>
      </ac-tab>
      <ac-tab
        nzTitle="{{ 'dj-default-交付物清单' | translate }}"
        (nzSelect)="tabClickHandle('app-list-of-deliverable')"
      >
        <!-- <app-list-of-deliverable
          *ngIf="wbsService.projectInfo?.project_no"
          [source]="Entry.card"
          [executeContext]="model.content?.executeContext"
          [tabIndex]="tabIndex"
          [tabName]="tabName"
        ></app-list-of-deliverable> -->
        <app-list-of-deliverable-v2
          *ngIf="wbsService.projectInfo?.project_no"
          [source]="Entry.card"
          [executeContext]="model.content?.executeContext"
          [tabIndex]="tabIndex"
          [tabName]="tabName"
          (callTabLoading)="callTabLoadingFun($event)"
        ></app-list-of-deliverable-v2>
      </ac-tab>
      <ac-tab
        nzTitle="{{ 'dj-default-参与部门人员' | translate }}"
        (nzSelect)="tabClickHandle('app-list-of-department')"
      >
        <app-list-of-department-v2
          *ngIf="wbsService.projectInfo?.project_no"
          [executeContext]="model.content?.executeContext"
          [tabIndex]="tabIndex"
          [tabName]="tabName"
          [source]="Entry.card"
        ></app-list-of-department-v2>
      </ac-tab>
      <ac-tab
        nzTitle="{{ 'dj-default-风险维护' | translate }}"
        (nzSelect)="tabClickHandle('app-pcc-risk-maintenance')"
      >
        <app-pcc-risk-maintenance
          *ngIf="
            wbsService.riskMaintenanceProjectInfo?.project_no &&
            wbsService.riskMaintenanceProjectInfo?.curUserId !== undefined
          "
          [model]="model"
          [tabIndex]="tabIndex"
          [tabName]="tabName"
        ></app-pcc-risk-maintenance>
      </ac-tab>
      <!-- 光斯奥个案需求 -->
      <ac-tab
        *ngIf="gongsiaoProjPlanOthInfoDynamicModel"
        nzTitle="{{ 'dj-default-其他信息' | translate }}"
      >
        <ath-dynamic-customized
          *ngIf="wbsService.projectInfo?.project_no"
          class="gongsiao-proj-plan-othInfo"
          [dynamicModel]="gongsiaoProjPlanOthInfoDynamicModel"
        ></ath-dynamic-customized
      ></ac-tab>
    </ac-tabset>
    <ng-template #extraTemplate>
      <app-start-project
        (changTabIndex)="changTabIndex()"
        (startProject)="startProject()"
        (parentChangeFn)="changeFn()"
        [isCanDelete]="isCanDelete"
        [isShowInitiateProjectChangesBtn]="isShowInitiateProjectChangesBtn"
        (callTabLoading)="callTabLoadingFun($event)"
      ></app-start-project>
    </ng-template>
    <app-loading-modal #loadingModal></app-loading-modal>
  </div>
</nz-spin>
