<div class="basic-data-entry-wbs">
  <div class="add-template-box">
    <form nz-form [formGroup]="validateForm" class="login-form">
      <nz-form-item>
        <nz-form-control>
          <div class="item-box">
            <div class="title">
              <span class="in-need">*</span>
              {{ 'dj-default-模板编号' | translate }}
            </div>
            <input
              class="template-input"
              nz-input
              formControlName="project_template_no"
              [placeholder]="translateWord('请输入模板编号')"
            />
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="item-box">
            <div class="title">
              <span class="in-need">*</span>
              {{ 'dj-default-模板名称' | translate }}
            </div>
            <input
              class="template-input"
              nz-input
              formControlName="project_template_name"
              [placeholder]="translateWord('请输入模板名称')"
            />
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="item-box project-type-box">
            <div class="title">{{ 'dj-pcc-项目类型' | translate }}</div>
            <div class="box-choose" (click)="openProjectTypeInfoWindow()">
              {{ templateInfo.temp ? templateInfo.temp : translateWords('请选择项目类型>') }}
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <button
        [ngClass]="{ active: activeStatus && !validateForm.invalid }"
        (click)="saveToTemplate()"
      >
        {{ 'dj-pcc-保存' | translate }}
      </button>
    </form>
  </div>
  <div class="template-wbs-box" *ngIf="isShowWbs">
    <app-dynamic-wbs
      [source]="Entry.maintain"
      [projectTemplateMaintainData]="projectTemplateMaintainData"
    ></app-dynamic-wbs>
  </div>
</div>
