<div class="app-advanced-task">
  <div
    nz-row
    [nzGutter]="24"
    class="classification-box"
    (click)="changeAdvancedTaskStatus()"
    [class]="{
      removeDisabledState: addSubProjectCardService.currentCardInfo.isCollaborationCard
    }"
  >
    <span>{{ 'dj-default-进阶选项' | translate }}</span>
    <em class="icon">
      <i athIcon [iconfont]="'icon-xiala'" *ngIf="!advancedTaskStatus"></i>
      <i athIcon [iconfont]="'icon-shangla'" *ngIf="advancedTaskStatus"></i>
    </em>
  </div>
  <form nz-form [formGroup]="validateForm">
    <div nz-row [nzGutter]="24" class="row-box" [ngClass]="{'show-error-tip': showErrorTip()}" *ngIf="advancedTaskStatus">
      <div nz-col class="gutter-row" nzSpan="12" style="padding-top: 12px; display: flex">
        <nz-form-item>
          <nz-form-control>
            <div class="s-select">
              <ath-select
                style="width: 100%; min-width: 100px"
                formControlName="main_unit"
                [nzPlaceHolder]="translateWord('请选择主单位')"
                [nzDisabled]="unitDisabled"
                (ngModelChange)="changeSelect($event, 'main_unit')"
                isInsideLabel
                [label]="translateWord('主单位')"
                [nzAllowClear]="false"
              >
                <ath-option nzValue="0" [nzLabel]="translateWord('无')"></ath-option>
                <ath-option nzValue="1" [nzLabel]="translateWord('工时')"></ath-option>
                <ath-option nzValue="2" [nzLabel]="translateWord('重量')"></ath-option>
                <ath-option nzValue="3" [nzLabel]="translateWord('张数')"></ath-option>
                <ath-option nzValue="4" [nzLabel]="translateWord('数量')"></ath-option>
                <ath-option nzValue="5" [nzLabel]="translateWord('项数')"></ath-option>
              </ath-select>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <div class="s-select">
              <ath-input-number
                class="input-number-base-style"
                [placeholder]="translateWord('预计值')"
                [disabled]="
                  getMainUnitValid() || (source === Entry.card && taskStatus > 10 ? true : false)
                "
                (ngModelChange)="changePlanMainUnitValue($event)"
                formControlName="plan_main_unit_value"
                [min]="0"
                [precision]="3"
                [precisionMode]="toFixed"
                [step]="1"
                [errorTip]="
                  advancedOptionService.planMainUnitValue ? translateWordPcc('必须大于0') : ''
                "
                [innerLabel]="true"
                [label]="translateWord('预计值')"
              ></ath-input-number>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col class="gutter-row" nzSpan="12" style="padding-top: 12px; display: flex">
        <nz-form-item>
          <nz-form-control>
            <div class="s-select">
              <ath-select
                style="width: 100%; min-width: 100px"
                formControlName="second_unit"
                [nzPlaceHolder]="translateWord('请选择次单位')"
                [nzDisabled]="unitDisabled"
                (ngModelChange)="changeSelect($event, 'second_unit')"
                isInsideLabel
                [label]="translateWord('次单位')"
                [nzAllowClear]="false"
              >
                <ath-option nzValue="0" [nzLabel]="translateWord('无')"></ath-option>
                <ath-option nzValue="1" [nzLabel]="translateWord('工时')"></ath-option>
                <ath-option nzValue="2" [nzLabel]="translateWord('重量')"></ath-option>
                <ath-option nzValue="3" [nzLabel]="translateWord('张数')"></ath-option>
                <ath-option nzValue="4" [nzLabel]="translateWord('数量')"></ath-option>
                <ath-option nzValue="5" [nzLabel]="translateWord('项数')"></ath-option>
              </ath-select>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <div class="s-select">
              <ath-input-number
                class="input-number-base-style"
                [placeholder]="translateWord('预计值')"
                [disabled]="
                  getSecondUnitValid() || (source === Entry.card && taskStatus > 10 ? true : false)
                "
                (ngModelChange)="changePlanSecondUnitValue($event)"
                formControlName="plan_second_unit_value"
                [precision]="3"
                [precisionMode]="toFixed"
                [step]="1"
                [errorTip]="
                  advancedOptionService.planSecondUnitValue ? translateWordPcc('必须大于0') : ''
                "
                [innerLabel]="true"
                [label]="translateWord('预计值')"
              ></ath-input-number>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div [hidden]="!advancedTaskStatus">
      <!-- 乾冶个案组件 -->
      <ath-dynamic-customized
        *ngIf="qianyeStandWorkHourDynamicModel; else other"
        [dynamicModel]="qianyeStandWorkHourDynamicModel"
      ></ath-dynamic-customized>
      <ng-template #other>
        <div nz-row [nzGutter]="24" class="row-box" *ngIf="advancedTaskStatus">
          <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
              <nz-form-control>
                <div style="display: flex; align-items: center">
                  <ath-input-number
                    class="input-number-base-style"
                    [placeholder]="translateWord('标准工时')"
                    formControlName="standard_work_hours"
                    [min]="0"
                    [precision]="2"
                    [precisionMode]="toFixed"
                    [step]="1"
                    [disabled]="unitDisabled"
                    (ngModelChange)="standardWorkHoursChange($event)"
                    [innerLabel]="true"
                    [label]="translateWord('标准工时')"
                  ></ath-input-number>
                  <div style="width: 40px; text-align: right">
                    {{ translateWord('小时') }}
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
              <nz-form-control>
                <div style="display: flex; align-items: center">
                  <ath-input-number
                    class="input-number-base-style"
                    [placeholder]="translateWord('标准天数')"
                    formControlName="standard_days"
                    [min]="0"
                    [precision]="1"
                    [precisionMode]="toFixed"
                    [step]="1"
                    [disabled]="unitDisabled"
                    [innerLabel]="true"
                    [label]="translateWord('标准天数')"
                  ></ath-input-number>
                  <div style="width: 22px; text-align: right">
                    {{ translateWord('天') }}
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </ng-template>
    </div>
  </form>
</div>
