<div class="pcc-risk-maintenance-table-operate">
  <button
    ath-button
    [nzLoading]="maintenanceLoading"
    [disabled]="maintenanceDisabled"
    nzSize="small"
    nzType="text"
    (click)="onMaintenance()"
  >
    {{ 'dj-default-维护' | translate }}
  </button>
  <button
    *ngIf="!group['isNewRow']"
    ath-button
    [nzLoading]="dispatchLoading"
    [disabled]="dispatchDisabled"
    nzSize="small"
    nzType="text"
    (click)="onDispatch()"
  >
    {{ 'dj-default-派送' | translate }}
  </button>
  <button
    *ngIf="!group['isNewRow']"
    ath-button
    [nzLoading]="loseEfficacyLoading"
    [disabled]="loseEfficacyDisabled"
    nzSize="small"
    nzType="text"
    (click)="onLoseEfficacy()"
  >
    {{ 'dj-default-失效' | translate }}
  </button>
</div>
