<div class="taskPre">
  <span (click)="showTable()">{{ 'dj-pcc-查看前置任务' | translate }}</span>
  <div class="mask" (click)="closeMask()" *ngIf="isVisible">
    <div class="maskDetail">
      <div class="content" (click)="clickContent($event)">
        <div class="spin-box" *ngIf="isShowSpin">
          <nz-spin nzSimple></nz-spin>
        </div>
        <div class="table-box" *ngIf="!isShowSpin">
          <div class="table">
            <div class="table-content" *ngIf="list.length; else svgTemplate">
              <div
                dynamic-ant-form
                [group]="dynamicGroup"
                [model]="dynamicModel"
                (change)="onChange($event)"
              ></div>
            </div>
            <ng-template #svgTemplate>
              <div class="no-data-box">
                <div>
                  <app-svg-file [type]="'noData'"></app-svg-file>
                  <p>{{ 'dj-c-暂无数据' | translate }}</p>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
