<div class="nav-bar-box">
  <div class="tip-img-btn-box">
    <div class="tip-img-box">
      <div class="tip-box">
        <span class="img no">R</span>
        <span class="tip">{{ 'dj-pcc-延期未完成' | translate }}</span>
      </div>
      <div class="tip-box">
        <span class="img then">Y</span>
        <span class="tip">{{ 'dj-pcc-待处理' | translate }}</span>
      </div>
      <div class="tip-box">
        <span class="img now">G</span>
        <span class="tip">{{ 'dj-pcc-验收中' | translate }}</span>
      </div>
      <div class="tip-box">
        <span class="img ok">C</span>
        <span class="tip">{{ 'dj-pcc-已完成' | translate }}</span>
      </div>
    </div>
  </div>
</div>