<div class="task-wbs-box">
  <div class="task-wbs project-plan">
    <!-- 协同计划排定 -->
    <div class="wbs-title">
      <div class="operate-info">
        <span *ngIf="wbsService.needRefresh">
          {{ wbsService.needRefresh }}
        </span>
      </div>
      <div class="wbs-right">
        <!-- 任务比重提示信息 -->
        {{ projectInfo?.project_name }}
        <div class="project_property">
          <span>{{
            projectInfo?.project_property === '10'
              ? ('dj-default-潜在' | translate)
              : ('dj-default-正式' | translate)
          }}</span>
        </div>
        <div class="status">
          <span>{{ switchProjectStatus(projectInfo?.project_status) }}</span>
        </div>
        <span *ngIf="isApproveStatus">
          【{{ switchApproveAction(wbsService.projectInfo?.approve_action)
          }}{{ 'dj-pcc-签核中' | translate }}】
        </span>
        <!-- 任务比重提示信息 -->
        <div class="error_card" *ngIf="wbsService.taskProportionCheck['project_info']?.length > 0">
          <span class="text">
            {{
              'dj-pcc-存在一级任务的任务比重 < 100%，则所有一级任务的任务比重累计必须等于100%！'
                | translate
            }}
          </span>
        </div>
      </div>
    </div>
    <!-- 专案计划维护 -->
    <div class="wbs-content" dCanvas (click)="closeOperation(pageDatas)">
      <ul class="corridor" *ngFor="let data of pageDatas; let i = index">
        <app-project-plan-card
          [source]="Entry.collaborate"
          [planCardList]="[data]"
          (changeWbsTaskCardProportion)="changeWbsTaskCardProportion($event)"
          recursive-root
          [listIndex]="i"
        ></app-project-plan-card>
      </ul>
    </div>
    <div class="add-subproject-card-box">
      <app-add-subproject-card
        *ngIf="addSubProjectCardService.showAddTaskCard"
        [source]="Entry.collaborate"
        (currentTaskInfo)="getAddTaskCardInfo($event)"
      >
      </app-add-subproject-card>
    </div>
  </div>
  <app-human-resource-load
    [isVisible]="wbsService.showHRLoad"
    [title]="translateWordPcc('人力资源负荷')"
    [dateObject]="wbsService.dateObject"
    [peopleObject]="wbsService.peopleObject"
    (changeMaskStatus)="changeMaskStatus($event)"
  ></app-human-resource-load>
  <div class="submit-btn-box" *ngIf="wbsService.editable && !hasClickSubmit">
    <button
      class="submit-button"
      [ngClass]="{ active: this.wbsService.projectInfo.approve_status !== 'N' }"
      nz-button
      nzType="primary"
      (click)="teamworkTaskPlanUpdate()"
      [nzLoading]="isLoading"
    >
      {{ 'dj-default-提交' | translate }}
    </button>
  </div>
</div>
