<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-control>
      <ath-select
        style="width: 100%; min-width: 100%"
        formControlName="classificationType"
        [nzDisabled]="taskStatus > '10' || isForbidden"
        [nzPlaceHolder]="translateWord('请选择任务分类')"
        isInsideLabel
        [label]="translateWord('任务分类')"
      >
        <ath-option
          *ngFor="let item of classificationList"
          [nzValue]="item"
          [nzLabel]="item.task_classification_name"
        >
        </ath-option>
      </ath-select>
    </nz-form-control>
  </nz-form-item>
</form>
