<button
  ath-button
  nz-popover
  athType="text"
  [nzLoading]="loading"
  [nzPopoverContent]="contentTemplate"
  [(nzPopoverVisible)]="confirmVisible"
  nzPopoverTrigger="click"
  (nzPopoverVisibleChange)="confirmVisibleChangeHandler($event)"
  nzPopoverOverlayClassName="cancel-collaboration-confirm-wrapper"
  class="cancel-collaboration"
>
  {{ btnText }}
</button>

<ng-template #contentTemplate>
  <div class="ant-popover-message">
    <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
    <div class="ant-popover-message-title">{{ 'dj-pcc-确认取消协同吗？' | translate }}</div>
  </div>

  <div class="ant-popover-buttons">
    <button
      ath-button
      nzSize="small"
      style="min-width: initial"
      (click)="cancelCollaborationCancel()"
    >
      {{ 'dj-default-取消' | translate }}
    </button>
    <button
      ath-button
      nzSize="small"
      athType="primary"
      style="min-width: initial"
      [nzLoading]="loading"
      (click)="cancelCollaborationConfirm()"
    >
      {{ 'dj-default-确定' | translate }}
    </button>
  </div>
</ng-template>
