<div class="pcc-file-upload" *ngIf="!control['_hidden']">
  <!-- 可以上传文件状态下 -->
  <ng-container *ngIf="isNotReadonly(); else readonly">
    <nz-upload
      [nzAccept]="fileExtensions"
      [nzCustomRequest]="customUpload"
      [nzMultiple]="model.multiple"
      [nzShowUploadList]="!!model.showFileList"
      [nzSize]="model.attribute?.fileMaxSize ? model.attribute?.fileMaxSize / 1024 : 0"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      [nzFilter]="[uploadFilter]"
      class="pcc-file-upload-main"
    >
      <div nz-button class="pcc-file-upload-button">
        <div>
          <span nz-icon nzType="cloud-upload" nzTheme="outline" class="pcc-file-upload-icon"></span>
          <span class="pcc-file-upload-placeholder">{{ showUploadTip(true) }}</span>
        </div>
        <!-- 提示 -->
        <span
          nz-icon
          nzType="question-circle"
          nzTheme="outline"
          nz-tooltip
          [nzTooltipTitle]="getUploadLimitTip()"
          class="pcc-file-upload-tip"
        ></span>
      </div>
    </nz-upload>
    <div
      *ngIf="fileList.length"
      [ngClass]="['form-upload-container', !fileList.length ? 'upload-watting' : '']"
    >
      <ng-container *ngIf="fileList.length">
        <ng-container *ngFor="let att of fileList; let i = index">
          <div
            class="file-one-item"
            #fileList
            nz-popover
            [nzPopoverContent]="contentTemplate"
            [nzPopoverOverlayStyle]="{
              'max-height': '300px',
              overflow: 'auto',
              padding: 0,
              background: '#fff',
              marginTop: '10px'
            }"
            nzPopoverTrigger="hover"
            nzPopoverPlacement="bottomLeft"
            nzPopoverOverlayClassName="pcc-file-upload-pop"
            (nzPopoverVisibleChange)="toggleClass($event, fileList)"
          >
            <div class="item pcc-item" [title]="att[fieldMapping.name]">
              {{ att[fieldMapping.name] }}
            </div>
            <button
              nz-button
              class="file-delete-btn"
              *ngIf="checkCanDeleteFile(att)"
              (click)="deleteFile($event, att); $event.stopPropagation()"
            >
              <span nz-icon nzType="close-circle" nzTheme="outline"></span>
            </button>
          </div>
          <ng-template #contentTemplate>
            <div class="pcc-file-item">
              <div class="pcc-item">
                <div class="tip-title">
                  <span class="text name" [title]="att[fieldMapping.name]">{{
                    att[fieldMapping.name]
                  }}</span>
                  <div class="file-btn-group">
                    <button
                      nz-button
                      class="file-download-btn"
                      *ngIf="checkCanDownloadFile(att)"
                      (click)="downloadFile(att)"
                    >
                      <span nz-icon nzType="cloud-download" nzTheme="outline"></span>
                    </button>
                    <button nz-button class="file-preview-btn" (click)="previewFile(att)">
                      <span nz-icon nzType="eye" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
                <p class="tip-subtitle">
                  {{
                    'dj-new-c-上传于'
                      | translate
                        : {
                            date: formatDate(att[fieldMapping.createDate] || att['create_date'])
                          }
                  }}
                </p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <!-- 只读状态下 -->
  <ng-template #readonly>
    <ng-container *ngIf="!checkIsEmpty(); else emptyData">
      <div class="pcc-file-upload-main readonly">
        <ng-container>
          <button
            ath-button
            nz-popover
            class="pcc-file-upload-button"
            [nzSize]="model.size || 'default'"
            [nzPopoverContent]="moreFileContentTemplate"
            nzPopoverTrigger="click"
            nzPopoverPlacement="bottom"
            nzPopoverOverlayClassName="pcc-file-upload-pop"
            [nzPopoverOverlayStyle]="{
              'max-height': '300px',
              overflow: 'auto',
              padding: 0,
              background: '#fff',
              marginTop: '10px'
            }"
          >
            {{ readOnlyPlaceholder() }}
            <i class="icon" athIcon iconfont="iconApp-xiala"></i>
          </button>
          <ng-template #moreFileContentTemplate>
            <ng-container *ngFor="let att of fileList; let i = index">
              <div class="pcc-file-item">
                <div class="pcc-item">
                  <div class="tip-title">
                    <i
                      class="file-icon"
                      athIcon
                      [iconfont]="getFileIcon(att[fieldMapping.name])"
                    ></i>
                    <span class="text name" [title]="att[fieldMapping.name]">{{
                      att[fieldMapping.name]
                    }}</span>
                    <div class="file-btn-group">
                      <button
                        nz-button
                        class="file-download-btn pcc-file-download-btn"
                        *ngIf="checkCanDownloadFile(att)"
                        (click)="downloadFile(att)"
                      >
                        <span nz-icon nzType="cloud-download" nzTheme="outline"></span>
                      </button>
                      <button nz-button class="file-preview-btn" (click)="previewFile(att)">
                        <span nz-icon nzType="eye" nzTheme="outline"></span>
                      </button>
                    </div>
                  </div>
                  <div class="tip-subtitle">
                    {{
                      'dj-pcc-上传于'
                        | translate
                          : {
                              date: formatDate(att[fieldMapping.createDate] || att['create_date'])
                            }
                    }}
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #emptyData>
      <div class="pcc-file-upload-main readonly">
        <ng-container>
          <button
            nz-button
            class="pcc-file-upload-button"
            nz-popover
            [nzPopoverContent]="moreFileContentTemplate"
            nzPopoverTrigger="click"
            nzPopoverPlacement="bottomLeft"
            nzPopoverOverlayClassName="pcc-file-upload-pop"
            [nzPopoverOverlayStyle]="{
              'max-height': '300px',
              overflow: 'auto',
              padding: 0,
              background: '#fff',
              marginTop: '10px'
            }"
          >
            {{ readOnlyPlaceholder() }}
            <span nz-icon nzType="down" nzTheme="outline"></span>
          </button>
          <ng-template #moreFileContentTemplate>
            <div class="nodata">
              <ath-empty size="small"></ath-empty>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </ng-template>
  </ng-template>
</div>
