<div
  *ngIf="conditionTypeList.includes(taskTemplateInfo?.task_category)"
  nz-row
  class="gutter-row"
  nzSpan="12"
  [class]="{ forbidden: ['SFT'].includes(taskTemplateInfo?.task_category) }"
>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-control>
        <div [class.select-task]="isDisable">
          <label
            ath-checkbox
            [nzDisabled]="isDisable"
            formControlName="is_need_doc_no"
            (ngModelChange)="needDocNoChange()"
          >
            <span *ngIf="['APC_O', 'MOOP', 'SFT'].includes(taskTemplateInfo?.task_category)">
              {{ 'dj-pcc-需要工单单别及单号及序号' | translate }}
            </span>
            <span *ngIf="['POSUM', 'PRSUM', 'APC'].includes(taskTemplateInfo?.task_category)">
              {{ 'dj-pcc-需要工单单别及单号' | translate }}
            </span>
            <span *ngIf="!['APC_O', 'MOOP', 'SFT', 'POSUM', 'PRSUM', 'APC'].includes(taskTemplateInfo?.task_category)">
              {{ 'dj-pcc-需要单别及单号' | translate }}
            </span>
          </label>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
