<div
  [style.width.px]="this.circleProgressWidth"
  [style.height.px]="this.circleProgressWidth"
  [style.fontSize.px]="this.circleProgressWidth * 0.15 + 6"
  class="pcc-progress-inner"
>
  <svg class="progress-circle" viewBox="0 0 100 100">
    <defs>
      <linearGradient [id]="'pcc-gradient-' + componentId" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop
          *ngFor="let i of circleProcessGradient"
          [attr.offset]="i.offset"
          [attr.stop-color]="i.color"
        ></stop>
      </linearGradient>
    </defs>
    <path
      class="progress-circle-trail"
      stroke="#f3f3f3"
      fill-opacity="0"
      [attr.stroke-width]="strokeWidth"
      [attr.d]="circleProcessPathString"
      [ngStyle]="circleProcessTrailPathStyle"
    ></path>
    <path
      class="progress-circle-path"
      fill-opacity="0"
      [attr.d]="circleProcessPathString"
      [attr.stroke-linecap]="circleProcessStrokeLinecap"
      [attr.stroke]="circleProcessStrokePathStyle.stroke"
      [attr.stroke-width]="circleProcessPercent ? strokeWidth : 0"
      [ngStyle]="circleProcessStrokePathStyle.strokePathStyle"
    ></path>
  </svg>
  <div class="progress-content" [ngClass]="cardExecutionStatusInfo.otherClassName">
    <span>{{ circleProcessPercent }}</span
    ><span class="percen-sign">%</span>
  </div>
</div>
