registry=https://registry.npmmirror.com
unsafe-perm=true
@webdpt:registry=https://repo.digiwincloud.com.cn/maven/repository/npm-webdpt/
@app-custom:registry=https://tiger-devops-nexus.digiwincloud.com.cn/repository/npm-app-custom/
node-options=--max-old-space-size=15000
@athena:registry=https://repo.digiwincloud.com.cn/maven/repository/npm-athena/
@app-custom:registry=https://tiger-devops-nexus.digiwincloud.com.cn/repository/npm-app-custom/
