<div class="gaosiao-other-info">
  <app-clue-information
    *ngIf="model.config.source === '1'"
    [group]="group"
    [subsidiaryParameters]="model.config.subsidiaryParameters"
  ></app-clue-information>
  <app-opportunity-information
    [group]="group"
    [subsidiaryParameters]="model.config.subsidiaryParameters"
    *ngIf="model.config.source === '2'"
  ></app-opportunity-information>
  <app-bnusiness-opportunity-po-after
    [group]="group"
    [subsidiaryParameters]="model.config.subsidiaryParameters"
    *ngIf="model.config.source === '3'"
  ></app-bnusiness-opportunity-po-after>
</div>
