<div class="addSubCard_mask" *ngIf="addSubProjectCardService.showAddTaskCard"></div>
<div
  class="addSubCard"
  [class]="{ indexHigh: mDown, setCursor: isForbidden }"
  *ngIf="addSubProjectCardService.showAddTaskCard"
>
  <div
    class="addSubCard_content"
    [class]="{ forbidden: isForbidden }"
    [style]="getMaskPosition()"
    (mousemove)="mousemove($event, 'move')"
    (mousedown)="mousedown($event, 'move')"
    (mouseup)="mouseup($event)"
    (mouseleave)="mouseup($event)"
  >
    <app-card-header
      [source]="source"
      [sourceRealy]="sourceRealy"
      [infoList]="task_member_infoList"
      [personList]="personList"
      [root_task_card]="root_task_card"
      (changStatus)="callChangStatus($event)"
    ></app-card-header>
    <div class="addSubCard_body">
      <!-- 变更原因输入 -->
      <app-change-reason
        #changeReason
        [source]="source"
        [showUploadFile]="true"
        (cancelInput)="setIsClickSaveButton(false)"
        (confirmInput)="changeReasonOk($event)"
      ></app-change-reason>

      <!-- 任务卡片的开窗：编辑子项、添加子项 -->
      <nz-spin [nzSpinning]="loading">
        <div
          class="add-subproject-card-container"
          [class]="{ forbidden: isForbidden }"
          *ngIf="addSubProjectCardService.showAddTaskCard"
        >
          <form
            nz-form
            [formGroup]="validateForm"
            *ngIf="validateForm"
            (ngSubmit)="clickSubmit()"
            (keydown)="keyDown($event)"
          >
            <div class="scroll-in-box">
              <div class="scroll-inner-box" [class]="{ forbidden: isForbidden }">
                <div nz-row class="row-box" [nzGutter]="24">
                  <!-- 任务名称 -->
                  <div
                    nz-col
                    class="gutter-row"
                    nzSpan="12"
                    style="padding-left: 6px; padding-right: 6px"
                  >
                    <nz-form-item>
                      <nz-form-control
                        [nzErrorTip]="validateForm.get('task_name').errors?.characterChecking"
                      >
                        <div class="task-name-wrapper">
                          <ath-input-group
                            [label]="translateWord('任务名称')"
                            [required]="true"
                            [innerLabel]="true"
                          >
                            <input
                              #taskNameInput
                              class="project-name"
                              formControlName="task_name"
                              athInput
                              type="text"
                              maxlength="255"
                              (blur)="taskNameEnterACheck($event)"
                              [placeholder]="translateWord('请输入标题名称')"
                            />
                          </ath-input-group>
                          <i
                            athIcon
                            [iconfont]="'iconshuoming5'"
                            class="icon-info"
                            athTooltip
                            [athTooltipTitle]="titleTemplate"
                            athTooltipPlacement="right"
                            athTooltipOverlayClassName="pcc-add-sub-card-tip-container"
                          ></i>
                          <ng-template #titleTemplate>
                            <div
                              class="pcc-task-name-tip"
                              [innerHTML]="translateForTaskNameTip()"
                            ></div>
                          </ng-template>
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <!-- 层级 -->
                  <div nz-col class="gutter-row" nzSpan="12">
                    <nz-form-item *ngIf="isShowTier">
                      <nz-form-control>
                        <div>
                          <ath-tree-select
                            class="select-width"
                            [nzBackdrop]="true"
                            [nzDefaultExpandAll]="false"
                            [nzNodes]="parentTaskSerialNumList"
                            [nzDisabled]="
                              !!(
                                source === Entry.projectChange ||
                                (parentTaskSerialNumList &&
                                  parentTaskSerialNumList[0].isCollaborationCard) ||
                                upperLevelTaskNoForIssue
                              )
                            "
                            nzShowSearch
                            [nzPlaceHolder]="translateWord('请选择层级')"
                            formControlName="upper_level_task_no"
                            [nzDisplayWith]="displayWith"
                            [nzAllowClear]="false"
                            [label]="translateWord('层级')"
                            [isInsideLabel]="true"
                          >
                            <ng-template #nzTreeTemplate let-node>
                              <span
                                class="ant-tree-node-content-wrapper"
                                [class.ant-tree-node-selected]="node.isSelected"
                              >
                                <span>
                                  <em class="icon">
                                    <svg class="iconfont" aria-hidden="true">
                                      <use
                                        *ngIf="node.level === 0"
                                        xlink:href="#iconshebeizong"
                                      ></use>
                                      <use
                                        *ngIf="node.level === 1"
                                        xlink:href="#iconxingzhuang"
                                      ></use>
                                      <use
                                        *ngIf="node.level > 1"
                                        xlink:href="#iconzuixiaocengjiicon"
                                      ></use>
                                    </svg>
                                  </em>
                                  {{ node.title }}
                                </span>
                              </span>
                            </ng-template>
                          </ath-tree-select>
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- 基础资料--项目模版维护： 负责人 & 执行人 & 人员同期 -->
                <app-liable-person
                  #chilLliablePerson
                  *ngIf="source === Entry.maintain"
                  [validateForm]="validateForm"
                  [source]="source"
                  [project_no]="wbsService.project_no"
                  [liable_person_code_data]="liable_person_code_data"
                  [liable_person_code_dataList]="liable_person_code_dataList"
                  [task_member_infoList]="task_member_infoList"
                  [taskCategoryType]="taskCategoryType"
                  [executor]="executor"
                  [task_member_info]="task_member_info"
                  [personList]="personList"
                  [personList2]="personList2"
                  [copyPersonList]="copyPersonList"
                  [designStatus]="designStatus"
                  [taskTemplateInfo]="taskTemplateInfo"
                  (callParentSetData)="callSetData($event)"
                  (callUpdateWbsTasks)="updateWbsTasks($event)"
                  (callChangeMaskData)="callChangeMaskData($event)"
                  (callChangePersonLiable)="callChangePersonLiable($event)"
                  (callChangeExecutor)="callChangeExecutor($event)"
                ></app-liable-person>

                <!-- 负责人 & 执行人 & 人员同期 -->
                <app-liable-person-add-role
                  #chilLliablePersonRole
                  *ngIf="source !== Entry.maintain"
                  [validateForm]="validateForm"
                  [source]="source"
                  [project_no]="wbsService.project_no"
                  [liable_person_code_data]="liable_person_code_data"
                  [liable_person_code_dataList]="liable_person_code_dataList"
                  [task_member_infoList]="task_member_infoList"
                  [taskCategoryType]="taskCategoryType"
                  [executor]="executor"
                  [task_member_info]="task_member_info"
                  [personList]="personList"
                  [personList2]="personList2"
                  [copyPersonList]="copyPersonList"
                  [designStatus]="designStatus"
                  [taskTemplateInfo]="taskTemplateInfo"
                  (callParentSetData)="callSetData($event)"
                  (callUpdateWbsTasks)="updateWbsTasks($event)"
                  (callChangeMaskData)="callChangeMaskData($event)"
                  (changStatus)="callChangStatus($event)"
                  (callChangePersonLiable)="callChangePersonLiable($event)"
                  (callChangeExecutor)="callChangeExecutor($event)"
                ></app-liable-person-add-role>

                <!-- 工期 & 单位 & 预计工时 & 开始时间 & 结束时间 -->
                <app-work-load
                  [source]="source"
                  [projectInfo]="wbsService.projectInfo"
                  [validateForm]="validateForm"
                  [designStatus]="designStatus"
                  [project_no]="wbsService.project_no"
                  (updateWbsTasks)="updateWbsTasks($event)"
                  (setLoading)="setLoadingStatus($event)"
                ></app-work-load>

                <div nz-row class="row-box" [nzGutter]="24">
                  <!-- 请选择任务分类 -->
                  <div nz-col class="gutter-row" nzSpan="12">
                    <app-task-classification
                      [taskStatus]="
                        source === Entry.projectChange
                          ? addSubProjectCardService.currentCardInfo?.old_task_status
                          : addSubProjectCardService.currentCardInfo?.task_status
                      "
                      [identifier]="validateForm.value.task_classification_no"
                      (changeSubcomponents)="callTaskClassificationForm($event)"
                    >
                    </app-task-classification>
                  </div>
                  <!-- 请选择难度等级 -->
                  <div nz-col class="gutter-row" nzSpan="12">
                    <app-difficulty-level
                      [taskStatus]="
                        source === Entry.projectChange
                          ? addSubProjectCardService.currentCardInfo?.old_task_status
                          : addSubProjectCardService.currentCardInfo?.task_status
                      "
                      [identifier]="validateForm.value.difficulty_level_no"
                      (changeSubcomponents)="callDifficultyLevelForm($event)"
                    >
                    </app-difficulty-level>
                  </div>
                </div>

                <div nz-row class="row-box" [nzGutter]="24">
                  <!-- 任务比重 -->
                  <div nz-col class="gutter-row" nzSpan="12">
                    <nz-form-item>
                      <nz-form-control>
                        <div>
                          <ath-input-number
                            class="plan-work-hours"
                            [placeholder]="translateWordPcc('任务比重')"
                            formControlName="task_proportion"
                            [min]="0"
                            [max]="100"
                            [precision]="2"
                            [precisionMode]="toFixed"
                            [formatter]="formatterPercent"
                            [parser]="parserPercent"
                            [step]="1"
                            [disabled]="
                              source === Entry.projectChange
                                ? wbsService.projectInfo?.old_project_status > 20
                                : wbsService.projectInfo?.project_status > 20 &&
                                  source !== Entry.maintain
                            "
                            [innerLabel]="true"
                            [label]="translateWordPcc('任务比重')"
                          ></ath-input-number>
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- 进阶选项-- begin -->
                <app-advanced-option
                  #advancedOption
                  [validateForm]="this.validateForm"
                  [source]="source"
                  [taskStatus]="taskStatus"
                ></app-advanced-option>
                <!-- 进阶选项-- end -->

                <!-- 前置任务 -->
                <app-pre-task
                  [preTaskNumList]="preTaskNumList"
                  [taskDependencyInfoList]="taskDependencyInfoList"
                  (callPreTaskChange)="callPreTaskChange($event)"
                ></app-pre-task>
                <!-- 前置任务 -->

                <div
                  class="task-template-box"
                  [ngClass]="{
                    'task-template-box-disable': addSubProjectCardService.currentCardInfo?.someEdit
                  }"
                >
                  <div nz-row [nzGutter]="24" class="row-box">
                    <div nz-col class="gutter-row" nzSpan="12">
                      <nz-form-item>
                        <nz-form-control>
                          <!-- 任务模板开窗 -->
                          <app-task-template
                            [source]="source"
                            [openWindowDefine]="openWindowDefine"
                            (taskTemplateChange)="callChooseTaskTemplate($event)"
                            (taskTemplateDelete)="callDeleteTaskTemplate()"
                          ></app-task-template>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <!-- 账款分期任务类型：款项阶段 -->
                    <div
                      *ngIf="taskTemplateInfo?.task_category === 'ODAR'"
                      nz-col
                      class="gutter-row"
                      nzSpan="12"
                    >
                      <app-payment-stage
                        [openPaymentWindowDefine]="openPaymentWindowDefine"
                        (paymentStageChange)="callCoosePaymentStage($event)"
                      ></app-payment-stage>
                    </div>

                    <!-- 需要单别及单号 -->
                    <app-is-need-doc-no
                      [validateForm]="addSubProjectCardService.validateForm"
                      [taskTemplateInfo]="taskTemplateInfo"
                    ></app-is-need-doc-no>
                  </div>
                </div>
                <div
                  class="checkbox"
                  *ngIf="
                    source !== Entry.card &&
                    source !== Entry.projectChange &&
                    wbsService.hasGroundEnd === 'Y'
                  "
                >
                  <label ath-checkbox formControlName="is_equipment_list_unfold">
                    <span>{{ 'dj-default-依设备清单展开WBS' | translate }}</span>
                  </label>
                </div>

                <!-- 里程碑 -->
                <div class="milepost">
                  <label ath-checkbox formControlName="is_milepost">
                    <span>{{ 'dj-pcc-里程碑' | translate }}</span>
                  </label>
                  <nz-form-item *ngIf="validateForm.value.is_milepost">
                    <nz-form-control>
                      <ath-input-group
                        class="special_custom_height"
                        [label]="translateWordPcc('里程碑说明')"
                        [innerLabel]="true"
                      >
                        <textarea
                          athInput
                          [autosize]="{ minRows: 3 }"
                          [maxlength]="255"
                          [placeholder]="translateWordPcc('里程碑说明')"
                          formControlName="milepost_desc"
                        ></textarea>
                      </ath-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <!-- 里程碑 -->

                <!-- 交付物 -->
                <div class="milepost">
                  <label ath-checkbox formControlName="is_attachment">
                    <span>{{ 'dj-default-需要交付物' | translate }}</span>
                  </label>
                  <app-upload-file
                    [attachmentData]="attachmentData"
                    (changeSubcomponents)="getAttachmentDataForm($event)"
                  >
                  </app-upload-file>
                </div>

                <div class="checkboxList">
                  <div class="checkbox">
                    <label
                      ath-checkbox
                      formControlName="is_approve"
                      [nzDisabled]="isApproveStatus"
                    >
                      <span>{{ 'dj-default-需要签核' | translate }}</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label ath-checkbox formControlName="required_task">
                      <span>{{ 'dj-pcc-必要任务' | translate }}</span>
                    </label>
                  </div>
                </div>

                <nz-form-item>
                  <nz-form-control nzSpan="24">
                    <ath-input-group
                      class="special_custom_height"
                      [label]="translateWord('任务说明')"
                      [innerLabel]="true"
                    >
                      <textarea
                        athInput
                        id="attachmentRemark"
                        [autosize]="{ minRows: 3 }"
                        [maxlength]="255"
                        [placeholder]="translateWord('任务说明')"
                        formControlName="attachment_remark"
                      ></textarea>
                    </ath-input-group>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-control nzSpan="24">
                    <ath-input-group
                      class="special_custom_height"
                      [label]="translateWord('备注')"
                      [innerLabel]="true"
                    >
                      <textarea
                        athInput
                        id="remark"
                        [autosize]="{ minRows: 3 }"
                        [maxlength]="500"
                        [placeholder]="translateWord('备注')"
                        formControlName="remark"
                      ></textarea>
                    </ath-input-group>
                  </nz-form-control>
                </nz-form-item>

                <!-- 以下是 【更多】内容，begin -->
                <app-more-control
                  #childMoreControl
                  [sourceRealy]="sourceRealy"
                  [validateForm]="this.validateForm"
                  [taskTemplateInfo]="taskTemplateInfo"
                  (changStatus)="callChangStatus($event)"
                  (onEocChange)="callMoreControlOnEocChange($event)"
                ></app-more-control>
                <!-- 【更多】内容，end -->
              </div>
            </div>
            <div
              class="button-box"
              [class]="{
                noForbidden: isForbidden
              }"
            >
              <button class="btn cancel" type="button" (click)="cancel()">
                {{ 'dj-default-取消' | translate }}
              </button>
              <button
                *ngIf="!addSubProjectCardService.isPreview"
                class="btn determine"
                [ngClass]="{ active: submitBtnStatus }"
                type="submit"
              >
                {{ 'dj-default-确定' | translate }}
              </button>
            </div>
          </form>
        </div>
      </nz-spin>
    </div>
  </div>
</div>
