<div class="mo-process-assignment">
  <div class="spin-box" *ngIf="isShowSpin">
    <nz-spin nzSimple></nz-spin>
  </div>
  <div class="btn-container">
    <button
      nz-button
      [nzSize]="'small'"
      nzShape="round"
      *ngFor="let item of btnList"
      [nzType]="item.active ? 'primary' : ''"
      (click)="handleSwitchType(item)"
    >
      {{
        'dj-default-' + item.title
          | translate: { n: item.id === '1' ? pendingList.length : completeList.length }
      }}
    </button>
  </div>
  <app-table-detail
    [listData]="activeId === '1' ? pendingList : completeList"
    [isShowSpin]="isShowSpin"
    [type]="model.type"
  >
  </app-table-detail>
</div>
