<ac-editable-table
  #editableTable
  [dataSource]="dataSource"
  [rowCheckbox]="true"
  [pagination]="false"
  [columnDefs]="columnDefs"
  (rowSelected)="rowSelected($event)"
  [frameworkComponents]="frameworkComponents"
  [athTableProps]="athTableProps"
></ac-editable-table>
<!-- <ath-table
  #athenaTable
  [treeDataOption]="treeDataOption"
  [defaultToolbarConfig]="null"
  [rowData]="dataSource"
  [rowCheckbox]="true"
  [rowDelete]="false"
  [columnDefs]="columnDefs"
  (rowSelected)="rowSelected($event)"
  [frameworkComponents]="frameworkComponents"
></ath-table> -->
