<div
  class="project-operations"
  *ngIf="
    (wbsService.projectInfo?.project_status === '10' ||
      wbsService.projectInfo?.project_status === '30') &&
    wbsService.editable
  "
>
  <p
    (click)="transferToFormal()"
    [ngClass]="{ 'potential-disabled': wbsService.projectInfo?.project_status === 50 }"
    *ngIf="
      (wbsService.projectInfo?.project_status === '10' ||
        wbsService.projectInfo?.project_status === '30') &&
      wbsService.projectInfo?.project_property === '10' &&
      wbsService.projectInfo?.to_be_formal_project === false &&
      wbsTabsService.potentialStatus === 0
    "
  >
    {{ 'dj-pcc-转为正式专案' | translate }}
  </p>
  <p (click)="cancelTransfer()" *ngIf="wbsTabsService.potentialStatus === 1">
    {{ 'dj-default-取消' | translate }}
  </p>
  <div [ngClass]="{ 'save-template-disabled': getProjectStatustypeNo() }">
    <!-- 项目未启动，任务比重校验不通过，置灰 -->
    <p
      [ngClass]="{
        'start-disable': wbsTabsService.potentialStatus === 1 || wbsService.taskProportionCheck?.tip
      }"
      (click)="onStartProject($event)"
      *ngIf="isShowStart"
    >
      {{ 'dj-pcc-启动专案' | translate }}
    </p>
  </div>

  <p [ngClass]="{ 'delete-box': true, 'gray': ((wbsService.projectInfo?.project_status !== '10') || !isCanDelete)}" (click)="onDeleteProject()" >
    {{ 'dj-pcc-项目删除' | translate }}
  </p>
</div>
