<div class="project-plan-content progress-tracking-content">
  <div
    *ngFor="let item of progressTrackingData"
    class="project-info"
    [ngStyle]="{ width: 260 - item.level * 12 + 'px' }"
  >
    <div
      class="card-wrapper"
      (click)="showTaskDetail(item)"
      [ngClass]="
        item.status === 10 && !item.isOverdue
          ? 'not-started'
          : item.status === 20 && !item.isOverdue
          ? item.children && item.children.length
            ? 'in-progress-not-leaf'
            : 'in-progress'
          : item.status === 20 && item.isOverdue
          ? item.children && !item.children.length
            ? 'abnormal'
            : 'abnormal'
          : item.status === 30
          ? item.children && item.children.length
            ? 'finish-not-leaf'
            : ''
          : item.status === 10 && item.isOverdue
          ? item.children && !item.children.length
            ? 'abnormal'
            : 'abnormal'
          : ''
      "
      [userBehavior]="{ name: 'dj-default-点击卡片', code: showTaskDetailCode }"
    >
      <!-- 逾期的样式 -->
      <em
        class="overdue overdue-icon"
        *ngIf="item.task_status === 20 && item.isOverdue && item.children && item.children.length"
      >
        <svg class="iconfont" aria-hidden="true">
          <use xlink:href="#iconyuqi2"></use>
        </svg>
      </em>
      <div
        class="project-top"
        [ngStyle]="{ opacity: 1 - item.level * 0.05 }"
        [ngClass]="
          item.level !== 0
            ? item.task_status === 10 && !item.isOverdue
              ? 'not-started'
              : item.task_status === 20 && !item.isOverdue
              ? item.children && item.children.length
                ? 'in-progress-not-leaf'
                : 'in-progress'
              : item.task_status === 20 && item.isOverdue
              ? 'abnormal'
              : item.task_status === 30
              ? item.children && item.children.length
                ? 'finish-not-leaf'
                : ''
              : item.task_status === 10 && item.isOverdue
              ? 'abnormal'
              : ''
            : ''
        "
      >
        <div class="time">
          <p class="date">
            {{ wbsService.getPjPeriod(item.plan_start_date, item.plan_finish_date) }}
          </p>
          <div class="work-number">
            <p>
              {{ item.workload_qty
              }}{{
                (item.workload_unit === '1'
                  ? 'dj-default-时'
                  : item.workload_unit === '2'
                  ? 'dj-default-日'
                  : 'dj-default-月'
                ) | translate
              }}{{ 'dj-default-工期' | translate }}
            </p>
            <p class="is-issue" *ngIf="item.children && !item.children.length">
              {{
                (item.is_issue_task_card ? 'dj-default-已下发' : 'dj-default-未下发') | translate
              }}
            </p>
          </div>
        </div>

        <!-- 逾期 -->
        <div
          class="overdue-status"
          *ngIf="
            (item.task_status === 20 ||
              item.task_status === 10 ||
              item.task_status === 30 ||
              item.task_status === 60) &&
            item.isOverdue &&
            item.children &&
            !item.children.length
          "
        >
          <!-- item.children && !item.children.length 有子集时，不显示 -->
          <em class="content-title-prompt-icon">
            <svg class="iconfont" aria-hidden="true">
              <use xlink:href="#iconoverdue"></use>
            </svg>
          </em>
          <p>
            {{ 'dj-pcc-逾期n' | translate : { n: item.overdue_days } }}
          </p>
        </div>

        <!-- 需要交付物/交付物已上传，标记 -->
        <div
          class="icon-box"
          *ngIf="(!item.children || !item.children.length) && item.attachment_status"
        >
          <em
            class="icon-em"
            athTooltip
            [athTooltipTitle]="
              translatePccWord(item.attachment_status === '1' ? '需交付物' : '已有交付物')
            "
          >
            <svg class="iconfont" aria-hidden="true">
              <use xlink:href="#iconjiaofuwumobanicon" *ngIf="item.attachment_status === '1'"></use>
              <use xlink:href="#icona-21" *ngIf="item.attachment_status === '2'"></use>
            </svg>
          </em>
        </div>
      </div>
      <div class="info" [ngClass]="{ 'info-style': item.level !== 0 }">
        <div class="info-left">
          <div class="title">
            <em class="icon" *ngIf="item.is_milepost">
              <svg class="iconfont titleIcon" aria-hidden="true">
                <use xlink:href="#iconlichengbei"></use>
              </svg>
            </em>
            <em class="icon" *ngIf="item.is_attachment">
              <svg class="iconfont titleIcon" aria-hidden="true">
                <use xlink:href="#iconjiaofuwu"></use>
              </svg>
            </em>
            <em class="icon" *ngIf="item.is_approve">
              <svg class="iconfont titleIcon" aria-hidden="true">
                <use xlink:href="#iconqianhe"></use>
              </svg>
            </em>
            <div
              class="task_name_box"
              nz-tooltip
              [nzTooltipTitle]="item.task_name"
              nzTooltipPlacement="topLeft"
            >
              <span class="task_name">
                {{ item.task_name }}
              </span>
              <span *ngIf="wbsService.isTrackPages && item.update_flag" class="card-edit">*</span>
            </div>
          </div>
          <div
            class="font-size13 task_category"
            nz-tooltip
            [nzTooltipTitle]="getTaskCategoryInfo(item)"
            nzTooltipPlacement="topLeft"
          >
            {{ getTaskCategoryInfo(item) }}
          </div>
          <p
            class="person"
            *ngIf="item.children && !item.children.length && item.liable_person_code"
            [ngClass]="
              item.task_status === 20 && item.isOverdue
                ? 'abnormal-person'
                : item.task_status === 30
                ? 'finished-person'
                : ''
            "
          >
            {{ item.liable_person_name }}
            <em
              class="content-title-prompt-icon"
              *ngIf="item.is_issue_task_card && item.task_status !== 30 && wbsService.editable"
              (click)="notifyMsgModal(item, $event)"
            >
              <svg class="iconfont" aria-hidden="true">
                <use xlink:href="#iconnotice"></use>
              </svg>
            </em>
          </p>
        </div>
        <div class="chart" *ngIf="item.task_status !== 10 && item.task_status !== 60">
          <app-process-perc
            [color]="switchColor(item.task_status, item.isOverdue)"
            [allProcess]="100"
            [finishProcess]="item.complete_rate"
          >
          </app-process-perc>
        </div>
        <div class="text_status" *ngIf="item.task_status === 60">
          <div class="text">
            {{ 'dj-pcc-签核中' | translate }}
          </div>
        </div>

        <div
          class="next-level-num"
          *ngIf="item.children && item.children.length"
          (click)="showOrHideChildren(item, $event)"
        >
          {{ item.isChildrenshow ? '—' : item.children.length }}
        </div>
        <div
          class="connection"
          *ngIf="item.children && item.children.length && item.isChildrenshow"
          [ngStyle]="{
            height: 165 * item.chilrenLength - 87 + 'px',
            bottom: -(165 * item.chilrenLength - 87) + 'px'
          }"
        ></div>
      </div>
      <div
        class="error_card"
        *ngIf="
          !closeList.includes(item.task_no) &&
          (!item.liable_person_code || !item.plan_start_date || !item.plan_finish_date) &&
          !item.children.length
        "
      >
        <div
          class="text"
          nz-tooltip
          [nzTooltipTitle]="translatePccWord('缺少执行人/日期信息，任务无法下发！')"
          nzTooltipPlacement="bottom"
        >
          {{ 'dj-pcc-缺少执行人/日期信息，任务无法下发！' | translate }}
        </div>
        <em
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
          (click)="closeErrorCard(item.task_no, $event)"
        ></em>
      </div>
    </div>

    <app-progress-tracking-card
      *ngIf="item.children && item.children.length && item.isChildrenshow"
      [progressTrackingList]="item.children"
      recursive-root
    ></app-progress-tracking-card>
  </div>
</div>

<!-- 通知执行人 -->
<!-- 对谈， 已废弃 -->
<nz-modal
  [(nzVisible)]="msgModalVisible"
  [nzContent]="msgModalTmpl"
  [nzFooter]="null"
  [nzClosable]="false"
  [nzWidth]="550"
>
  <ng-template #msgModalTmpl nzModalContent>
    <div>
      <div class="msg-modal-title">{{ 'dj-c-通知提醒' | translate }}{{ msgUserName }}</div>
      <textarea
        class="msg-modal-input"
        appHeightFollowScrollHeight
        nz-input
        [placeholder]="'dj-c-msg-content' | translate"
        [(ngModel)]="msgContentVal"
        [maxlength]="255"
      ></textarea>
    </div>
    <div class="msg-modal-btns">
      <button nz-button nzType="default" (click)="handleMsgCancel()">
        {{ 'dj-c-取消' | translate }}
      </button>
      <button nz-button nzType="primary" (click)="notifyExecutor($event)">
        {{ 'dj-c-发送' | translate }}
      </button>
    </div>
  </ng-template>
</nz-modal>
