<div *ngIf="cardInfo" #dateEl class="pcc-card-date">
  <ath-tooltip-wrapper [content]="dateEl.textContent">
    <span class="time">{{
      wbsService.getPjPeriod(cardInfo.plan_start_date, cardInfo.plan_finish_date) || '—'
    }}</span>
    <span class="day">
      【<span class="workload"
        >{{ cardInfo.workload_qty
        }}{{
          (cardInfo.workload_unit === '1'
            ? 'dj-default-时'
            : cardInfo.workload_unit === '2'
            ? 'dj-default-日'
            : 'dj-default-月'
          ) | translate
        }}</span
      >】
    </span>
  </ath-tooltip-wrapper>
</div>
