<div class="opportunity-information" [formGroup]="templateGroup">
  <div class="table-wrapper t-a">
    <dl class="table-row">
      <dd class="table-cell cell-title">{{ 'dj-pcc-客户预算（万元、未税）' | translate }}：</dd>
      <dd class="table-cell">
        <ath-input-number
          placeholder="{{ 'dj-请输入' | translate }}"
          [precision]="2"
          [formControl]="templateGroup.get('customer_budget')"
          [title]="templateGroup.get('customer_budget').value || ''"
        ></ath-input-number>
      </dd>
      <dd class="table-cell cell-title">{{ 'dj-pcc-预估PO日期' | translate }}：</dd>
      <dd class="table-cell">
        <ath-date-picker
          nzPlaceHolder="{{ 'dj-请选择' | translate }}"
          [formControl]="templateGroup.get('estimated_po_date')"
          [title]="gOtherInfoService.dateTransForShow(templateGroup.get('estimated_po_date').value)"
          (ngModelChange)="gOtherInfoService.dateTrans(templateGroup.get('estimated_po_date'))"
        ></ath-date-picker>
      </dd>
      <dd class="table-cell cell-title">{{ 'dj-pcc-预估搬入日期' | translate }}：</dd>
      <dd class="table-cell">
        <ath-date-picker
          nzPlaceHolder="{{ 'dj-请选择' | translate }}"
          [formControl]="templateGroup.get('estimated_move_in_date')"
          [title]="
            gOtherInfoService.dateTransForShow(templateGroup.get('estimated_move_in_date').value)
          "
          (ngModelChange)="gOtherInfoService.dateTrans(templateGroup.get('estimated_move_in_date'))"
        ></ath-date-picker>
      </dd>
    </dl>
    <dl class="table-row">
      <dd class="table-cell cell-title">{{ 'dj-pcc-竞争对手' | translate }}：</dd>
      <dd class="table-cell">
        <input
          athInput
          type="text"
          placeholder="{{ 'dj-请输入' | translate }}"
          maxlength="100"
          [formControl]="templateGroup.get('competitors')"
          [title]="templateGroup.get('competitors').value || ''"
        />
      </dd>
      <dd class="table-cell cell-title">{{ 'dj-pcc-前购价格（万元，含税）' | translate }}：</dd>
      <dd class="table-cell">
        <ath-input-number
          placeholder="{{ 'dj-请输入' | translate }}"
          [precision]="4"
          [formControl]="templateGroup.get('pre_purchase_price')"
          [title]="templateGroup.get('pre_purchase_price').value || ''"
        ></ath-input-number>
      </dd>
      <dd class="table-cell cell-title">{{ 'dj-pcc-接单概率' | translate }}：</dd>
      <dd class="table-cell">
        <input
          athInput
          type="text"
          placeholder="{{ 'dj-请输入' | translate }}"
          [formControl]="templateGroup.get('order_acceptance_probability')"
          [title]="templateGroup.get('order_acceptance_probability').value || ''"
        />
      </dd>
    </dl>
  </div>
  <div class="table-wrapper t-b">
    <dl class="table-row">
      <dd class="table-cell cell-title">{{ 'dj-pcc-销售策略' | translate }}：</dd>
      <dd class="table-cell">
        <ath-input-group [suffix]="inputClearTplA">
          <textarea
            athInput
            placeholder="{{ 'dj-请输入' | translate }}"
            [rows]="4"
            [maxlength]="2000"
            [autosize]="{
              minRows: 4,
              maxRows: 6
            }"
            [formControl]="templateGroup.get('sales_strategy')"
            [title]="templateGroup.get('sales_strategy').value || ''"
          ></textarea>
        </ath-input-group>
        <ng-template #inputClearTplA>
          <i
            class="ant-input-clear-icon"
            athIcon
            iconfont="icon-guanbi1"
            [hidden]="!templateGroup.get('sales_strategy').value"
            (click)="templateGroup.get('sales_strategy').setValue('')"
          ></i>
        </ng-template>
      </dd>
    </dl>
    <dl class="table-row">
      <dd class="table-cell cell-title">{{ 'dj-pcc-销售过程记录' | translate }}：</dd>
      <dd class="table-cell">
        <ath-input-group [suffix]="inputClearTplB">
          <textarea
            athInput
            placeholder="{{ 'dj-请输入' | translate }}"
            [rows]="4"
            [maxlength]="4000"
            [autosize]="{
              minRows: 4,
              maxRows: 6
            }"
            [formControl]="templateGroup.get('sales_process_records')"
            [title]="templateGroup.get('sales_process_records').value || ''"
          ></textarea>
        </ath-input-group>
        <ng-template #inputClearTplB>
          <i
            class="ant-input-clear-icon"
            athIcon
            iconfont="icon-guanbi1"
            [hidden]="!templateGroup.get('sales_process_records').value"
            (click)="templateGroup.get('sales_process_records').setValue('')"
          ></i>
        </ng-template>
      </dd>
    </dl>
    <dl class="table-row">
      <dd class="table-cell cell-title">{{ 'dj-pcc-下一步计划' | translate }}：</dd>
      <dd class="table-cell">
        <ath-input-group [suffix]="inputClearTplC">
          <textarea
            athInput
            placeholder="{{ 'dj-请输入' | translate }}"
            [rows]="4"
            [maxlength]="4000"
            [autosize]="{
              minRows: 4,
              maxRows: 6
            }"
            [formControl]="templateGroup.get('next_step_plan')"
            [title]="templateGroup.get('next_step_plan').value || ''"
          ></textarea>
        </ath-input-group>
        <ng-template #inputClearTplC>
          <i
            class="ant-input-clear-icon"
            athIcon
            iconfont="icon-guanbi1"
            [hidden]="!templateGroup.get('next_step_plan').value"
            (click)="templateGroup.get('next_step_plan').setValue('')"
          ></i>
        </ng-template>
      </dd>
    </dl>
  </div>
</div>
