<div
  class="dynamic-wbs-container"
  [ngClass]="{ 'full-dynamic-wbs-container': wbsService.fullScreenStatus }"
  [ngStyle]="{ 'overflow-y': wbsService.showGantt ? 'auto' : 'hidden' }"
>
  <div class="mask" (click)="closeMask()" *ngIf="!!wbsService.taskDetail">
    <!-- 进度追踪 任务卡 -->
    <app-task-detail></app-task-detail>
  </div>

  <app-wbs-header
    #wbsHeader
    [source]="source"
    [hasAuth]="hasAuth"
    [signOff]="signOff"
    (initWbsData)="getTaskInfo()"
    (refreshPageChange)="refreshPageChangeFn()"
    (changeLoading)="changeLoadingFn($event)"
    (changeTemp)="changeTemp()"
    [unRead]="unRead"
    [callReadFn]="callReadFn$"
    (changeWbsTaskCardProportion)="checkTaskProportion()"
  ></app-wbs-header>
  <div class="wbs-title" *ngIf="source === Entry.card || source === Entry.projectChange">
    <div class="sub-title">
      <!--      <div class="item title-left">-->
      <!--          <span *ngIf="wbsService.needRefresh && source !== Entry.projectChange" class="half-info item" athTooltip [athTooltipTitle]="wbsService.needRefresh">-->
      <!--            {{ wbsService.needRefresh }}-->
      <!--            &lt;!&ndash; 存在任务正在批量下发或更新中，不可变更计划，请5分钟后刷新界面再试！  &ndash;&gt;-->
      <!--          </span>-->
      <!--        <span *ngIf="wbsService.projectInfo?.project_status === '10' && !wbsService.projectInfo?.project_type_no && source !== Entry.projectChange" class="half-info item" athTooltip [athTooltipTitle]="startTipInfo">-->
      <!--            {{ 'dj-default-请维护项目类型，项目类型为空，不可进行计划维护/启动项目！' | translate }}-->
      <!--          </span>-->
      <!--      </div>-->
      <div class="title-center">
        <div
          class="title-info item"
          athTooltip
          [athTooltipTitle]="
            wbsService.projectInfo.project_no + '[' + wbsService.projectInfo.project_name + ']'
          "
        >
          {{ wbsService.projectInfo.project_no }}[{{ wbsService.projectInfo.project_name }}]
        </div>
        <div class="project_property nowrap" [ngStyle]="getPropertyColor()">
          <span>{{
            wbsService.projectInfo.project_property === '10'
              ? ('dj-default-潜在' | translate)
              : ('dj-default-正式' | translate)
          }}</span>
        </div>
        <div class="status nowrap" [ngStyle]="getStatusColor()">
          <span>{{
            switchProjectStatus(
              source === Entry.projectChange
                ? wbsService.projectInfo?.old_project_status
                : wbsService.projectInfo?.project_status
            )
          }}</span>
        </div>
        <div *ngIf="isApproveStatus" class="nowrap">
          【{{ switchApproveAction(wbsService.projectInfo?.approve_action)
          }}{{ 'dj-pcc-签核中' | translate }}】
        </div>
        <div *ngIf="!wbsService.projectChangeStatus['check_type_init']" class="nowrap">
          【{{ 'dj-pcc-项目变更中' | translate }}】
        </div>
      </div>
      <!--      <div class="item title-right"  *ngIf="wbsService.taskProportionCheck?.projectInfoTip" athTooltip [athTooltipTitle]="taskTipInfo">-->
      <!--        {{ 'dj-pcc-存在一级任务的任务比重 < 100%，则所有一级任务的任务比重累计必须等于100%！' | translate }}-->
      <!--      </div>-->
    </div>
    <!--    <div *ngIf="unRead" [ngClass]="['read-btn']" (click)="callReadFn()">-->
    <!--      {{ 'dj-default-已读' | translate}}-->
    <!--    </div>-->
  </div>
  <nz-alert
    class="specialInfo"
    *ngIf="wbsService.projectInfo.remark"
    nzType="warning"
    [nzMessage]="specialInfoTemplate"
    nzShowIcon
  ></nz-alert>
  <ng-template #specialInfoTemplate>
    <div class="specialInfoTemplate" athTooltip [athTooltipTitle]="wbsService.projectInfo.remark">
      {{ 'dj-default-特别资讯' | translate }}{{ wbsService.projectInfo.remark }}
    </div>
  </ng-template>
  <!--  <div class="special-info" *ngIf="wbsService.projectInfo.remark" athTooltip [athTooltipTitle]="wbsService.projectInfo.remark">-->
  <!--    {{ 'dj-default-特别资讯' | translate }}{{ wbsService.projectInfo.remark }}-->
  <!--  </div>-->
  <div
    class="wbs project-plan"
    [ngStyle]="{
      background: wbsService.typeChange !== 'table' ? 'rgb(236, 240, 247)' : 'transparent'
    }"
    [ngClass]="{ 'template-wbs': source !== Entry.card || source !== Entry.projectChange }"
    *ngIf="!wbsService.showGantt && !wbsService.showPert"
  >
    <!-- 专案计划维护 -->
    <div
      class="wbs-content"
      dCanvas
      [ngStyle]="{ 'padding-top': wbsService.typeChange !== 'table' ? '14px' : '0px' }"
      [ngClass]="{
        disabled: getProjectStatustypeNo(),
        marginLeft: wbsService.typeChange === 'table'
      }"
      (click)="closeOperation(wbsService.pageDatas)"
      *ngIf="!wbsService.isTrackPages; else trackingCardTemplate"
    >
      <div *ngIf="wbsService.typeChange === 'card'">
        <!-- 卡片专案计划维护 -->
        <app-wbs-drag
          [ngStyle]="currentStyles"
          class="wbs-drag"
          [pageDatas]="wbsService?.pageDatas"
          [isDragDropEnd]="isDragDropEnd()"
          (dragDropEnd)="dragDropEnd($event)"
        ></app-wbs-drag>
        <div class="wbs-box">
          <ul
            class="corridor"
            tDroppable
            [disableDrop]="
              !wbsService.editable ||
              data.disabled ||
              data.is_issue_task_card ||
              isCollaborationCardNoMove(data.task_no)
            "
            [nestingTargetRect]="{ height: 108, marginBottom: 20 }"
            *ngFor="let data of wbsService.pageDatas; let i = index"
            (dropEvent)="onDrop($event, data, i)"
          >
            <!-- 一组任务的任务卡片 -->
            <app-project-plan-card
              #projectPlanCard
              [source]="source"
              [sourceRealy]="sourceRealy"
              [signOff]="signOff"
              [planCardList]="[data]"
              [taskChildrenNos]="getTaskChildrenNos(data)"
              recursive-root
              [listIndex]="i"
              [hasGroundEnd]="hasGroundEnd"
              [hasT100]="hasT100"
              (changeWbsTaskCardProportion)="checkTaskProportion($event)"
              [hasAuth]="hasAuth"
              (refreshPageChange)="refreshPageChangeFn()"
              [showAddIcon]="
                wbsService.projectInfo?.project_status !== '10' ||
                projectPlanningProcessType !== '2'
              "
            >
            </app-project-plan-card>
            <ng-container *custAuthBtnByShare="hasAuth">
              <div *ngIf="addChildConditionAggregation(data)">
                <div
                  class="add-child"
                  *ngIf="
                    !signOff &&
                    (source === Entry.projectChange
                      ? wbsService.projectChangeDoc.change_status === '1' &&
                        !hasTaskProportionForRoot()
                      : isNotEmpty(data) && wbsService.editable && !wbsService.needRefresh)
                  "
                  (click)="addSubItem(data)"
                  [userBehavior]="{ name: 'dj-default-添加子项', code: addSubItemCode }"
                >
                  <em nz-icon nzType="plus" nzTheme="outline"></em>
                  {{ 'dj-default-添加子项' | translate }}
                </div>
              </div>
            </ng-container>
            <div class="add-subproject-card-box"></div>
          </ul>
          <ng-container *custAuthBtnByShare="hasAuth">
            <button
              *ngIf="
                !signOff &&
                (source === Entry.projectChange
                  ? wbsService.projectChangeDoc.change_status === '1' && !hasTaskProportionForRoot()
                  : wbsService.editable && !wbsService.needRefresh && !getTaskProportionCheck())
              "
              nzType="text"
              nzBlock
              nz-button
              [nzSize]="'small'"
              class="add-first-plan"
              [class.pointer]="
                wbsService.projectInfo?.project_status !== '10' ||
                wbsService.projectInfo?.project_type_no
              "
              (click)="addFirstItem()"
              [disabled]="
                wbsService.projectInfo?.project_status === '10' &&
                !wbsService.projectInfo?.project_type_no
              "
              nzType="link"
              [userBehavior]="{ name: 'dj-default-新建一级计划', code: addFirstItemCode }"
            >
              <em nz-icon nzType="plus" nzTheme="outline"></em>
              {{ 'dj-default-新建一级计划' | translate }}
            </button>
          </ng-container>
        </div>
      </div>
      <!-- 列表专案计划维护 -->
      <div class="wbs-table-box" *ngIf="wbsService.typeChange === 'table'">
        <app-project-table
          [editable]="wbsService.editable"
          [source]="source"
          [pageDatas]="wbsService?.pageDatas"
          [signOff]="signOff"
          [showAddIcon]="getShowAddIcon"
          (changeWbsTaskCardProportion)="checkTaskProportion($event)"
          [personList]="wbsTabsService.personList"
        ></app-project-table>
      </div>
    </div>

    <app-add-subproject-card
      *ngIf="addSubProjectCardService.showAddTaskCard"
      class="add-subproject-card-box"
      [source]="source"
      (currentTaskInfo)="getAddTaskCardInfo($event, true)"
    >
    </app-add-subproject-card>

    <!-- 进度追踪 外壳 -->
    <ng-template #trackingCardTemplate>
      <div
        class="wbs-content wbs-content-track"
        [ngClass]="{
          'template-wbs-content': source !== Entry.card || source !== Entry.projectChange
        }"
      >
        <div class="corridor" *ngFor="let data of wbsService.pageDatas">
          <app-progress-tracking-card
            [progressTrackingList]="data"
            recursive-root
          ></app-progress-tracking-card>
        </div>
        <div class="add-first-plan"></div>
      </div>
    </ng-template>
  </div>

  <!-- 甘特图 -->
  <div class="gantt-box" *ngIf="wbsService.showGantt">
    <div class="back">
      <div class="btn-wrap" (click)="wbsService.showGantt = false">
        <svg class="iconfont" aria-hidden="true">
          <use xlink:href="#iconmore2"></use>
        </svg>
        <span>{{ 'dj-default-甘特图' | translate }}</span>
      </div>
      <div class="selectDateType">
        {{ 'dj-pcc-显示时距' | translate }}
        <nz-select [(ngModel)]="scales">
          <nz-option nzValue="day" [nzLabel]="translateWord('日')"></nz-option>
          <nz-option nzValue="week" [nzLabel]="translateWord('周')"></nz-option>
          <nz-option nzValue="month" [nzLabel]="translateWord('月')"></nz-option>
        </nz-select>
      </div>
      <button class="btn-export-excel" nz-button (click)="export_data(scales)" nzShape="round">
        <span nz-icon nzType="download"></span>
        {{ 'dj-default-导出excel' | translate }}
      </button>
      <button class="btn-export-excel" nz-button (click)="export_data_pdf()" nzShape="round">
        <span nz-icon nzType="download"></span>
        {{ 'dj-default-导出PDF' | translate }}
      </button>
    </div>
    <app-dynamic-gantt
      #dynamicGantt
      [type]="'single'"
      [ganttData]="ganttAndPertData"
      [projectInfo]="wbsService.projectInfo"
      [scales]="scales"
      [criticalPath]="criticalPath"
      [source]="source"
    ></app-dynamic-gantt>
  </div>
  <div class="pert-box" *ngIf="wbsService.showPert">
    <div class="back">
      <div class="btn-wrap" (click)="wbsService.showPert = false">
        <svg class="iconfont" aria-hidden="true">
          <use xlink:href="#iconmore2"></use>
        </svg>
        <span>{{ 'dj-pcc-PERT图' | translate }}</span>
      </div>
      <div class="pert-illustrate">{{ 'dj-pcc-说明：表中数字代表间隔天数' | translate }}</div>
    </div>
    <app-pert
      [ganttData]="ganttAndPertData"
      [criticalPath]="criticalPath"
      [dependencyInfo]="dependencyInfo"
      [fullScreenStatus]="wbsService.fullScreenStatus"
      [source]="source"
    ></app-pert>
  </div>

  <app-human-resource-load
    [isVisible]="wbsService.showHRLoad"
    [title]="translateWordPcc('人力资源负荷')"
    [dateObject]="wbsService.dateObject"
    [peopleObject]="wbsService.peopleObject"
    (changeMaskStatus)="changeMaskStatus($event)"
  ></app-human-resource-load>
</div>
