<div class="manual-work-reporting">
  <button ath-toolbar-button (click)="showTable()" class="showTitle" *ngIf="isShowTable">
    {{ 'dj-pcc-代为报工' | translate }}
  </button>
  <div *ngIf="isVisible" class="mask">
    <div class="maskDetail">
      <div class="content" (click)="clickContent($event)">
        <div class="table-box">
          <div class="add-operator-box">
            <div class="add-operator" (click)="add()">{{ 'dj-default-新增' | translate }}</div>
          </div>
          <div class="table-content">
            <div
              dynamic-ant-form-control
              *ngFor="let model of dynamicModel"
              [model]="model"
              [group]="dynamicGroup"
              (change)="getChanges($event)"
            ></div>
          </div>
          <div class="button-box">
            <button class="btn cancel" ath-button (click)="closeMask()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button
              class="btn determine"
              [ngClass]="{ disabled: !isActiveButton }"
              [noSubmit]="!isActiveButton"
              ath-button
              (click)="callSubmitFn()"
            >
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
