
<div id='pcc-projects-gantt' class="pcc-projects-gantt">
  <div class="gantt-bar">
    <div class="signal-box">
      <span class="font">【{{ 'dj-pcc-信号' | translate }}】</span>
      <span class="color green"></span>
      <span class="font">-{{ 'dj-pcc-进度正常' | translate }}；</span>
      <span class="color yellow"></span>
      <span class="font">-{{ 'dj-pcc-进度落后，影响交机风险低' | translate }}；</span>
      <span class="color red"></span>
      <span class="font">-{{ 'dj-pcc-进度严重落后，影响交机风险高' | translate }}；</span>
      <span class="color grey"></span>
      <span class="font">-{{ 'dj-pcc-项目结案、指定结案' | translate }}；</span>
    </div>
    <div class="selectDateType">
      {{ 'dj-pcc-显示时距' | translate }}
      <ath-select [(ngModel)]="scales" [nzAllowClear]="false" (ngModelChange)="handleChange($event)">
        <ath-option nzValue="day" [nzLabel]="translateWord('日')" ></ath-option>
        <ath-option nzValue="week" [nzLabel]="translateWord('周')" ></ath-option>
        <ath-option nzValue="month" [nzLabel]="translateWord('月')" ></ath-option>
      </ath-select>
    </div>
  </div>
  <div class="gantt">
    <div #ganttContainer class="gantt-chart-pcc-projects-gantt"></div>
  </div>
</div>
