<div class="wbs-header" id="PCC-wbs-header">
  <div class="precautions">
    <span *ngIf="promptMessage">
      {{ 'dj-default-请注意！模板内必须维护项目检讨类型的任务！' | translate }}</span
    >
    <span *ngIf="wbsService.taskProportionCheck?.projectInfoTip && source === Entry.maintain">
      {{
        'dj-pcc-存在一级任务的任务比重 < 100%，则所有一级任务的任务比重累计必须等于100%！'
          | translate
      }}
    </span>
  </div>
  <!-- 进度追踪页面的头部信息 -->
  <div
    class="progress-tracking-operations"
    *ngIf="wbsService.isTrackPages && source === Entry.card; else projectTemplate"
  >
    <div (click)="toFullScreen()" class="full-screen-box baseButtonStyle">
      <em class="icon" *ngIf="!wbsService.fullScreenStatus">
        <svg class="iconfont" aria-hidden="true">
          <use xlink:href="#iconquanping"></use>
        </svg>
      </em>
      <em class="icon" *ngIf="wbsService.fullScreenStatus">
        <svg class="iconfont" aria-hidden="true">
          <use xlink:href="#icontuichuquanping"></use>
        </svg>
      </em>
    </div>
    <div
      class="baseButtonStyle"
      [ngClass]="{
        alldelayDisabled:
          wbsService.projectInfo?.project_status !== '30' ||
          !wbsService.projectChangeStatus['check_type_init']
      }"
      *ngIf="wbsService.editable"
      (click)="closeTheCase()"
    >
      <em class="icon">
        <i athIcon [iconfont]="'iconjieanicon'"></i>
      </em>
      {{ 'dj-default-结案' | translate }}
    </div>
    <div
      class="baseButtonStyle"
      [ngClass]="{
        alldelayDisabled:
          (wbsService.projectInfo?.project_status !== '30' &&
            wbsService.projectInfo?.project_status !== '50') ||
          !wbsService.projectChangeStatus['check_type_init']
      }"
      *ngIf="wbsService.editable"
      (click)="designatedProject()"
    >
      <em class="icon">
        <i athIcon [iconfont]="'iconqiangzhijieanicon'"></i>
      </em>
      {{ 'dj-default-指定结案' | translate }}
    </div>
    <div
      class="baseButtonStyle"
      [ngClass]="{ alldelayDisabled: !wbsService.projectChangeStatus['check_type_init'] }"
      *ngIf="
        wbsService.projectInfo?.project_status === '30' &&
        wbsService.projectInfo?.approve_status !== 'N' &&
        wbsService.editable
      "
      (click)="suspendProject()"
    >
      <em class="icon">
        <i athIcon [iconfont]="'iconzantingicon'"></i>
      </em>
      {{ 'dj-pcc-暂停专案' | translate }}
    </div>
    <div
      class="baseButtonStyle"
      *ngIf="
        (wbsService.projectInfo?.project_status === '50' ||
          (wbsService.projectInfo?.project_status === '30' &&
            wbsService.projectInfo?.approve_status === 'N')) &&
        wbsService.editable
      "
      (click)="continueProject()"
    >
      <em class="icon">
        <i athIcon [iconfont]="'iconjixuxiangmu'"></i>
      </em>
      {{ 'dj-pcc-继续专案' | translate }}
    </div>
    <!-- 进度追踪TAB -->
    <div class="baseButtonStyle" (click)="lookGatte()">
      <em class="icon">
        <i athIcon [iconfont]="'icongantetu'"></i>
      </em>
      {{ 'dj-pcc-查看甘特图' | translate }}
    </div>
    <div class="baseButtonStyle" (click)="lookPert()">
      <em class="icon">
        <i athIcon [iconfont]="'iconshare1'"></i>
      </em>
      {{ 'dj-pcc-查看PERT图' | translate }}
    </div>
    <div
      class="baseButtonStyle"
      *ngIf="
        source !== Entry.projectChange &&
        (isChangeApprove || (wbsService.projectInfo.approve_status === 'N' && isShowApprove))
      "
      (click)="lookSignOffProgress()"
    >
      <em class="icon">
        <i athIcon [iconfont]="'iconjindu'"></i>
      </em>
      {{ 'dj-c-查看签核进度' | translate }}
    </div>
    <div *ngIf="unRead" class="baseButtonStyle" (click)="callReadFn.next()">
      <em class="icon">
        <i athIcon [iconfont]="'iconchenggongic'"></i>
      </em>
      {{ 'dj-default-已读' | translate }}
    </div>
  </div>
  <!-- wbs入口的头部信息 -->
  <ng-template #projectTemplate>
    <!-- wbs入口  可编辑状态 -->
    <div *ngIf="(source === Entry.card || source === Entry.projectChange) && wbsService.editable">
      <div class="progress-tracking-operations use-template">
        <div
          class="full-screen-box baseButtonStyle"
          [ngClass]="{ 'alldelay-disabled': isDisabled() }"
        >
          <span (click)="toFullScreen()">
            <em class="icon" *ngIf="!wbsService.fullScreenStatus">
              <svg class="iconfont" aria-hidden="true">
                <use xlink:href="#iconquanping"></use>
              </svg>
            </em>
            <em class="icon" *ngIf="wbsService.fullScreenStatus">
              <svg class="iconfont" aria-hidden="true">
                <use xlink:href="#icontuichuquanping"></use>
              </svg>
            </em>
          </span>
        </div>
        <div
          *ngIf="source !== Entry.projectChange"
          class="baseButtonStyle"
          nz-dropdown
          [nzDropdownMenu]="menu"
        >
          ··· {{ 'dj-default-更多' | translate }}
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li
              nz-menu-item
              *ngIf="source !== Entry.projectChange && headerWidth < 960"
              [nzDisabled]="isDisabled()"
              (click)="lookPert()"
            >
              {{ 'dj-pcc-查看PERT图' | translate }}
            </li>
            <ng-container *custAuthBtnByShare="hasAuth">
              <li
                nz-menu-item
                *ngIf="source !== Entry.projectChange && headerWidth < 1216"
                [nzDisabled]="
                  (source !== Entry.projectChange &&
                    (!['10', '20', '30'].includes(wbsService.projectInfo?.project_status) ||
                      wbsService.needRefresh ||
                      isDisabled() ||
                      (wbsService.projectInfo?.project_status !== '30' &&
                        wbsService.hasCollaborationCard))) ||
                  (source === Entry.projectChange &&
                    wbsService.projectChangeDoc?.change_status !== '1')
                "
                (click)="callShowDelayDays()"
              >
                {{ 'dj-default-所有任务自动延展' | translate }}
              </li>
            </ng-container>

            <li
              nz-menu-item
              *ngIf="
                source !== Entry.projectChange && !judgeForProjectPlanFlow1() && headerWidth < 1216
              "
              [nzDisabled]="judgeForProjectPlanFlow2()"
              (click)="collaborativePlan()"
            >
              {{ 'dj-pcc-协同计划排定' | translate }}
            </li>
            <li
              nz-menu-item
              *ngIf="source !== Entry.projectChange"
              [nzDisabled]="isDisabled() || accessibleStatus"
              (click)="saveToTemplate()"
            >
              {{ 'dj-default-保存为模板' | translate }}
            </li>
            <app-upload (changeTemp)="changeTemp.emit()" [source]="source"> </app-upload>
          </ul>
        </nz-dropdown-menu>
        <div
          *ngIf="source !== Entry.projectChange && headerWidth >= 1216"
          [ngClass]="{ 'collaborative-disabled': isDisabled() }"
        >
          <div
            *ngIf="!judgeForProjectPlanFlow1()"
            class="baseButtonStyle"
            [ngClass]="{ alldelayDisabled: judgeForProjectPlanFlow2() }"
            (click)="collaborativePlan()"
          >
            <em class="icon">
              <i athIcon [iconfont]="'iconjiediantu'"></i>
            </em>
            {{ 'dj-pcc-协同计划排定' | translate }}
          </div>
        </div>
        <nz-select
          class="baseSelectStyle"
          *ngIf="source !== Entry.projectChange"
          [nzDisabled]="isDisabledSelectTemplate()"
          [nzPlaceHolder]="translateWord('选择模板')"
          [nzOptions]="templateTypeOption"
          (nzFocus)="templateTypeFocus()"
          [(ngModel)]="selectedTemplateType"
          (ngModelChange)="templateTypeChange($event)"
        ></nz-select>
        <ng-container *custAuthBtnByShare="hasAuth">
          <div
            class="baseButtonStyle"
            [ngClass]="{
              alldelayDisabled:
                (source !== Entry.projectChange &&
                  (!['10', '20', '30'].includes(wbsService.projectInfo?.project_status) ||
                    wbsService.needRefresh ||
                    isDisabled() ||
                    (wbsService.projectInfo?.project_status !== '30' &&
                      wbsService.hasCollaborationCard))) ||
                (source === Entry.projectChange &&
                  wbsService.projectChangeDoc?.change_status !== '1')
            }"
            *ngIf="
              source === Entry.projectChange
                ? !(source === Entry.projectChange && signOff)
                : headerWidth >= 1216
            "
            (click)="callShowDelayDays()"
          >
            <em class="icon">
              <i athIcon [iconfont]="'iconjinrixuwanchengrenwu'"></i>
            </em>
            <!-- 协同、模板、变更签核，没有 -->
            {{ 'dj-default-所有任务自动延展' | translate }}
          </div>
        </ng-container>
        <!-- 计划维护TAB -->
        <div (click)="lookGatte()" class="baseButtonStyle">
          <em class="icon">
            <i athIcon [iconfont]="'icongantetu'"></i>
          </em>
          {{ 'dj-pcc-查看甘特图' | translate }}
        </div>
        <div
          *ngIf="source !== Entry.projectChange ? headerWidth >= 960 : true"
          [ngClass]="{ 'alldelay-disabled': isDisabled() }"
        >
          <div class="baseButtonStyle" (click)="lookPert()">
            <em class="icon">
              <i athIcon [iconfont]="'iconshare1'"></i>
            </em>
            {{ 'dj-pcc-查看PERT图' | translate }}
          </div>
        </div>
        <div
          *ngIf="
            source !== Entry.projectChange &&
            (isChangeApprove || (wbsService.projectInfo.approve_status === 'N' && isShowApprove))
          "
          class="baseButtonStyle"
          (click)="lookSignOffProgress()"
        >
          <em class="icon">
            <i athIcon [iconfont]="'iconjindu'"></i>
          </em>
          {{ 'dj-c-查看签核进度' | translate }}
        </div>
        <div class="typeChangeBox" *ngIf="source === Entry.card || source === Entry.projectChange">
          <div
            class="baseButtonStyle"
            [ngClass]="{ typeChange: wbsService.typeChange === 'card' }"
            (click)="wbsService.changeType('card')"
          >
            <em class="icon">
              <i athIcon [iconfont]="'iconyou2'"></i>
            </em>
            {{ 'dj-pcc-卡片' | translate }}
          </div>
          <div
            class="baseButtonStyle"
            [ngClass]="{ typeChange: wbsService.typeChange === 'table' }"
            (click)="wbsService.changeType('table')"
          >
            <em class="icon">
              <i athIcon [iconfont]="'iconbiaogebeifen'"></i>
            </em>
            {{ 'dj-pcc-表格' | translate }}
          </div>
        </div>
      </div>
      <nz-modal
        [(nzVisible)]="isUseEquipmentTemplateVisible"
        nzWrapClassName="delay-modal-box"
        nzClassName="template-box-home template160"
      >
        <ng-template nzModalContent>
          <p>{{ 'dj-default-确定使用设备清单模板？' | translate }}</p>
          <div class="button-box">
            <button class="btn cancel" (click)="useTemplateHandleCancel()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button class="btn active" (click)="useEquipmentTemplateHandleOk()">
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </ng-template>
      </nz-modal>
      <!-- 选择模板 - 职能模板 -->
      <nz-modal
        [(nzVisible)]="isUseTemplateVisible"
        nzWrapClassName="delay-modal-box"
        nzClassName="template-box-home template160"
      >
        <ng-template nzModalContent>
          <p>{{ 'dj-default-使用模板将会覆盖现有的内容，是否使用模板？' | translate }}</p>
          <div class="button-box">
            <button class="btn cancel" (click)="useTemplateHandleCancel()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button class="btn active" (click)="useTemplateHandleOk()">
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </ng-template>
      </nz-modal>
      <nz-modal [(nzVisible)]="isSaveModalVisible" nzClassName="template-box-home">
        <ng-template nzModalContent>
          <form nz-form [formGroup]="validateForm">
            <p>{{ 'dj-default-请确认模板名称' | translate }}</p>
            <div class="item-box">
              <div>
                *<span>{{ 'dj-default-模板名称' | translate }}</span>
              </div>
              <nz-form-item>
                <nz-form-control>
                  <input
                    type="text"
                    nz-input
                    formControlName="project_template_name"
                    [placeholder]="translateWord('必填')"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
          <div class="button-box">
            <button class="btn cancel" (click)="cancelSaveTemplate()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button
              class="btn"
              [ngClass]="validateForm.invalid ? 'submit' : 'active'"
              (click)="certainSaveTemplate()"
            >
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </ng-template>
      </nz-modal>
      <nz-modal
        [(nzVisible)]="isCollaborativePlan"
        nzWrapClassName="collaborate-modal-box"
        nzClassName="collaborate-template-box"
      >
        <ng-template nzModalContent>
          <p>{{ 'dj-default-请选择需要协同排定的一级计划：' | translate }}</p>
          <div class="first-task-card-box">
            <div class="select-all">
              <label
                nz-checkbox
                [(ngModel)]="collaborativeAllChecked"
                (ngModelChange)="updateAllChecked()"
                [nzIndeterminate]="indeterminate"
              >
                {{ 'dj-default-全选' | translate }}
              </label>
            </div>
            <nz-checkbox-group
              [(ngModel)]="collaborativePlanCardList"
              (ngModelChange)="changePlanCardList(collaborativePlanCardList)"
            ></nz-checkbox-group>
          </div>
          <div class="button-box">
            <button class="btn cancel" (click)="collaborativeHandleCancel()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button class="btn active" (click)="createCollaborativePlan()">
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </ng-template>
      </nz-modal>
    </div>
    <!-- wbs入口  不可编辑状态 -->
    <div *ngIf="(source === Entry.card || source === Entry.projectChange) && !wbsService.editable">
      <div class="progress-tracking-operations use-template">
        <div
          class="full-screen-box baseButtonStyle"
          [ngClass]="{ 'alldelay-disabled': isDisabled() }"
        >
          <span (click)="toFullScreen()">
            <em class="icon" *ngIf="!wbsService.fullScreenStatus">
              <svg class="iconfont" aria-hidden="true">
                <use xlink:href="#iconquanping"></use>
              </svg>
            </em>
            <em class="icon" *ngIf="wbsService.fullScreenStatus">
              <svg class="iconfont" aria-hidden="true">
                <use xlink:href="#icontuichuquanping"></use>
              </svg>
            </em>
          </span>
        </div>
        <div
          *ngIf="source !== Entry.projectChange"
          class="baseButtonStyle"
          nz-dropdown
          [nzDropdownMenu]="menu"
        >
          ··· {{ 'dj-default-更多' | translate }}
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <app-upload (changeTemp)="changeTemp.emit()" [source]="source"> </app-upload>
          </ul>
        </nz-dropdown-menu>
        <!-- 计划维护TAB 签核-->
        <div (click)="lookGatte()" class="baseButtonStyle">
          <em class="icon">
            <i athIcon [iconfont]="'icongantetu'"></i>
          </em>
          {{ 'dj-pcc-查看甘特图' | translate }}
        </div>
        <div [ngClass]="{ 'alldelay-disabled': isDisabled() }">
          <div class="baseButtonStyle" (click)="lookPert()">
            <em class="icon">
              <i athIcon [iconfont]="'iconshare1'"></i>
            </em>
            {{ 'dj-pcc-查看PERT图' | translate }}
          </div>
        </div>
        <div
          *ngIf="
            source !== Entry.projectChange &&
            wbsService.projectInfo.approve_status === 'N' &&
            isShowApprove
          "
          class="baseButtonStyle"
          (click)="lookSignOffProgress()"
        >
          <em class="icon">
            <i athIcon [iconfont]="'iconjindu'"></i>
          </em>
          {{ 'dj-c-查看签核进度' | translate }}
        </div>
      </div>
      <nz-modal
        [(nzVisible)]="isUseEquipmentTemplateVisible"
        nzWrapClassName="delay-modal-box"
        nzClassName="template-box-home template160"
      >
        <ng-template nzModalContent>
          <p>{{ 'dj-default-确定使用设备清单模板？' | translate }}</p>
          <div class="button-box">
            <button class="btn cancel" (click)="useTemplateHandleCancel()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button class="btn active" (click)="useEquipmentTemplateHandleOk()">
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </ng-template>
      </nz-modal>
      <nz-modal
        [(nzVisible)]="isUseTemplateVisible"
        nzWrapClassName="delay-modal-box"
        nzClassName="template-box-home template160"
      >
        <ng-template nzModalContent>
          <p>{{ 'dj-default-使用模板将会覆盖现有的内容，是否使用模板？' | translate }}</p>
          <div class="button-box">
            <button class="btn cancel" (click)="useTemplateHandleCancel()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button class="btn active" (click)="useTemplateHandleOk()">
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </ng-template>
      </nz-modal>
      <nz-modal [(nzVisible)]="isSaveModalVisible" nzClassName="template-box-home">
        <ng-template nzModalContent>
          <form nz-form [formGroup]="validateForm">
            <p>{{ 'dj-default-请确认模板名称' | translate }}</p>
            <div class="item-box">
              <div>
                *<span>{{ 'dj-default-模板名称' | translate }}</span>
              </div>
              <nz-form-item>
                <nz-form-control>
                  <input
                    type="text"
                    nz-input
                    formControlName="project_template_name"
                    [placeholder]="translateWord('必填')"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
          <div class="button-box">
            <button class="btn cancel" (click)="cancelSaveTemplate()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button
              class="btn"
              [ngClass]="validateForm.invalid ? 'submit' : 'active'"
              (click)="certainSaveTemplate()"
            >
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </ng-template>
      </nz-modal>
      <nz-modal
        [(nzVisible)]="isCollaborativePlan"
        nzWrapClassName="collaborate-modal-box"
        nzClassName="collaborate-template-box"
      >
        <ng-template nzModalContent>
          <p>{{ 'dj-default-请选择需要协同排定的一级计划：' | translate }}</p>
          <div class="first-task-card-box">
            <div class="select-all">
              <label
                nz-checkbox
                [(ngModel)]="collaborativeAllChecked"
                (ngModelChange)="updateAllChecked()"
                [nzIndeterminate]="indeterminate"
              >
                {{ 'dj-default-全选' | translate }}
              </label>
            </div>
            <nz-checkbox-group
              [(ngModel)]="collaborativePlanCardList"
              (ngModelChange)="changePlanCardList(collaborativePlanCardList)"
            ></nz-checkbox-group>
          </div>
          <div class="button-box">
            <button class="btn cancel" (click)="collaborativeHandleCancel()">
              {{ 'dj-default-取消' | translate }}
            </button>
            <button class="btn active" (click)="createCollaborativePlan()">
              {{ 'dj-default-确定' | translate }}
            </button>
          </div>
        </ng-template>
      </nz-modal>
    </div>
    <div *ngIf="source === Entry.maintain">
      <div class="progress-tracking-operations use-template">
        <div class="full-screen-box baseButtonStyle" (click)="toFullScreen()">
          <em class="icon" *ngIf="!wbsService.fullScreenStatus">
            <svg class="iconfont" aria-hidden="true">
              <use xlink:href="#iconquanping"></use>
            </svg>
          </em>
          <em class="icon" *ngIf="wbsService.fullScreenStatus">
            <svg class="iconfont" aria-hidden="true">
              <use xlink:href="#icontuichuquanping"></use>
            </svg>
          </em>
        </div>
        <div
          *ngIf="source !== Entry.projectChange"
          class="baseButtonStyle"
          nz-dropdown
          [nzDropdownMenu]="menu"
        >
          ··· {{ 'dj-default-更多' | translate }}
        </div>
        <div class="baseButtonStyle" (click)="lookPert()">
          {{ 'dj-pcc-查看PERT图' | translate }}
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <app-upload (changeTemp)="changeTemp.emit()" [source]="source"> </app-upload>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </ng-template>
</div>

<nz-modal
  [(nzVisible)]="isContinueDelayDaysVisible"
  nzWrapClassName="delay-modal-box template-box-home"
  [nzMaskClosable]="false"
  [nzClosable]="false"
  (nzOnCancel)="continueDelayDaysCancel()"
  (nzOnOk)="continueDelayDays()"
>
  <ng-template nzModalContent>
    <div class="delay-title">{{ 'dj-default-所有任务自动延展' | translate }}：</div>
    <div class="delay-box-1">
      <nz-select [(ngModel)]="isDelay">
        <nz-option nzValue="-1" [nzLabel]="translateWord('提前')"></nz-option>
        <nz-option nzValue="1" [nzLabel]="translateWord('延后')"></nz-option>
      </nz-select>
      <nz-input-group [nzSuffix]="suffixTemplateInfo">
        <ath-input-number
          class="extend-days"
          [placeholder]="placeholderMessage()"
          [ngModel]="delayDays"
          [min]="reasonType === 'continueProject' ? 0 : 1"
          [step]="1"
          [precision]="0"
          (ngModelChange)="extendDays($event)"
        ></ath-input-number>
      </nz-input-group>
      <ng-template #suffixTemplateInfo>
        {{ 'dj-default-天' | translate }}
      </ng-template>
      <span
        class="error-message"
        *ngIf="['', '0', 0].includes(delayDays) && reasonType !== 'continueProject'"
        >{{ 'dj-pcc-不可为空，必须大于0' | translate }}</span
      >
      <div
        *ngIf="
          !['10', '20'].includes(wbsService.projectInfo?.project_status) &&
          source !== Entry.projectChange
        "
        class="change-reason-box"
      >
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="change-reason">{{
          'dj-pcc-变更原因' | translate
        }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <ath-input-group>
            <input
              athInput
              type="text"
              name="change-reason"
              [placeholder]="translateWordPcc('请输入')"
              maxlength="255"
              [(ngModel)]="changeReasonInfo"
              autocomplete="off"
            />
          </ath-input-group>
        </nz-form-control>
      </div>
      <nz-form-item class="continue-attachment-wrapper" *ngIf="reasonType === 'continueProject'">
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="change-status-file">{{
          'dj-pcc-附件' | translate
        }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <app-pcc-upload-file
            [(ngModel)]="continueProjectFileList"
            title=""
            [reasonType]="reasonType"
          ></app-pcc-upload-file>
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-template>
</nz-modal>
<!-- 选择模板 - 职能模板 -->
<nz-modal
  [(nzVisible)]="isUseTemplateDateVisible"
  nzWrapClassName="delay-modal-box"
  nzClassName="template-box-home template160"
>
  <ng-template nzModalContent>
    <div class="delay-box template-box-home" *ngIf="isUseTemplateDateVisible">
      <span>{{ 'dj-default-计划日期重排基准日期：' | translate }}</span>
      <app-input-new
        style="width: 160px; height: 34px"
        name="delayStart"
        [value]="planRearrangeBaseDate"
        [placeholder]="translateWord('开始时间')"
        [nzDisabledDate]="disabledDate"
        (ngModelChange)="delayTimeChange($event)"
        [nzAllowClear]="true"
      >
      </app-input-new>
    </div>
    <div class="button-box">
      <button class="btn cancel" (click)="templateDateCancel()">
        {{ 'dj-default-取消' | translate }}
      </button>
      <button class="btn active" (click)="templateDateConfirm()">
        {{ 'dj-default-确定' | translate }}
      </button>
    </div>
  </ng-template>
</nz-modal>

<!-- 变更原因输入 -->
<app-change-reason
  #changeReason
  [title]="modalTitle"
  [contentInfo]="modalContentInfo"
  [isTextArea]="true"
  [showUploadFile]="true"
  (cancelInput)="reasonCancelInput(false)"
  (confirmInput)="reasonInput($event)"
>
</app-change-reason>

<app-loading-modal #loadingModal></app-loading-modal>
