.wbs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .precautions {
    padding-left: 16px;
    color: red;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
}
// 撤回弹窗居中
.signOffProgress-modal-center-sty {
  // 89是因为二次弹窗高度540 / 2
  top: calc(~'50vh - 270px') !important;
}

.item-box {
  height: 40px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  div {
    min-width: 75px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #f9404c;
    text-align: start;
    span {
      color: #333;
    }
  }
  .ant-input {
    height: 40px;
    width: 427px;
  }
  .ant-form-item {
    margin-bottom: 0;
  }
}

::ng-deep .ant-modal.template-box-home {
  .ant-modal-content {
    width: 550px;
    height: 226px;
  }
  .ant-modal-close-x {
    display: none;
  }
  .ant-modal-footer {
    display: none !important;
  }
  p {
    padding-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 24px;
  }
  .button-box {
    padding: 0 169px;
  }
}

::ng-deep .ant-modal.collaborate-template-box {
  .ant-modal-content {
    width: 550px;
    height: 300px;
  }
  .ant-modal-close-x {
    display: none;
  }
  .ant-modal-footer {
    display: none !important;
  }
  p {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #333333;
    line-height: 24px;
  }
  .button-box {
    padding: 0 169px;
  }
}

::ng-deep div[dynamic-ant-form-control] {
  overflow: visible !important;
}

.button-box {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 24px;
  left: 0;
  .btn {
    width: 88px;
    height: 32px;
    // line-height: 32px;
    text-align: center;
    font-size: 14px;
    border: 0;
    outline: none;
    background: #fafafa;
    border-radius: 16px;
    cursor: pointer;
  }
  .cancel {
    color: #333;
    border: 1px solid #dddddd;
  }
  .submit {
    background: #bfceff;
    color: #fff;
  }
  .active {
    background-color: #2012d9;
    color: #fff;
  }
}

.delay-box {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delay-box-1 {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  .ant-input-affix-wrapper {
    padding: 0;
    width: 240px;
    align-items: center;
    padding-right: 8px;
  }
  .ant-input {
    height: 32px;
    padding: 0 11px;
  }
  .ant-select {
    width: 240px;
    margin-bottom: 10px;
  }
}

.delay-title {
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
  color: #333333;
}

.template-box-home {
  padding: 0 15px;
}

::ng-deep .ant-modal-wrap.delay-modal-box {
  .ant-modal {
    width: 400px !important;
  }
}

::ng-deep .ant-modal.template160 {
  .ant-modal-content {
    width: 400px;
    height: 160px;
  }
  .button-box {
    padding: 0 94px;
  }
}

::ng-deep .ant-modal.delay_new1 {
  .ant-modal-content {
    width: 400px !important;
    height: 220px !important;
  }
  .button-box {
    padding: 0 94px !important;
  }
}

.progress-tracking-operations {
  display: flex;
  flex-direction: row-reverse;
  color: #2012d9;
  padding: 10px;
  font-size: 14px;
  > div {
    margin-left: 16px;
    cursor: pointer;
  }
  .disabled-status {
    color: #ccc;
  }
  .save-template-disabled {
    position: relative;
    color: #ccc;
    &::before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      // background: rgba(252, 252, 252, 0.15);
      z-index: 100;
      cursor: not-allowed;
    }
  }
  .save-template-box {
    height: 32px;
    line-height: 32px;
  }
  .collaborative-disabled {
    position: relative;
    &::before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 100;
      cursor: not-allowed;
    }
  }
  .collaborative-plan-box {
    height: 32px;
    line-height: 32px;
    text-align: center;
  }
  .collaborative-plan-disabled {
    color: #ccc;
  }
  .full-screen-box {
    line-height: 32px;
  }
  .alldelay-disabled {
    position: relative;
    &::before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(252, 252, 252, 0.15);
      z-index: 100;
      cursor: not-allowed;
      opacity: 0;
    }
  }
  .alldelay {
    height: 32px;
    line-height: 32px;
    margin-right: 12px;
    position: relative;
  }
  .pert {
    margin-right: 0;
  }
  .alldelayDisabled {
    color: #ccc;
    cursor: not-allowed;
  }
}

.use-template {
  margin: 0 10px 0 0;
  padding: 5px 0;
  .use-template-disable {
    color: #ccc;
  }
}

::ng-deep .first-task-card-box {
  height: 152px;
  overflow-y: scroll;
  .ant-checkbox-group-item {
    display: flex;
  }
  label {
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

::ng-deep .ant-modal > .ant-modal-content > .ant-modal-body {
  label {
    font-size: 14px;
  }
  .modal-title,
  .content-info {
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
  .modal-title {
    width: 100px;
    font-size: 20px;
    margin: 6px auto;
  }
  .content-info {
    width: 100%;
    font-size: 16px;
    margin: 12px auto;
  }
  .text-area ~ .ath-textarea-count {
    background-color: #fff !important;
    height: 14px;
    width: 55px;
    text-align: center;
  }
}
