<div
  #wbsCardPopover="nzPopover"
  nz-popover
  [nzPopoverContent]="!isDragging ? contentTemplate : null"
  [nzPopoverMouseEnterDelay]="0.5"
  [nzPopoverMouseLeaveDelay]="0.2"
  [nzPopoverVisible]="popoverVisible"
  [nzPopoverTrigger]="popoverTrigger"
  [nzPopoverBackdrop]="false"
  nzPopoverOverlayClassName="wbs-card-popover"
  (nzPopoverVisibleChange)="popoverVisibleChange($event)"
  (click)="preview(cardInfo, $event)"
  class="wbs-card-container"
  [class]="{
    'has-lichenbei': cardInfo.is_milepost,
    'no-track-pages': !isTrackPages,
    'hover-card': popoverVisible,
    'is-dragging': isDragging
  }"
>
  <app-card-head
    #cardHead
    [source]="source"
    [sourceRealy]="sourceRealy"
    [cardInfo]="cardInfo"
    [hasAuth]="hasAuth"
    [signOff]="signOff"
    [taskChildrenNos]="taskChildrenNos"
    [root_task_card]="root_task_card"
  ></app-card-head>
  <app-card-body
    #cardBody
    [source]="source"
    [sourceRealy]="sourceRealy"
    [cardInfo]="cardInfo"
    [hasAuth]="hasAuth"
    [signOff]="signOff"
    [taskChildrenNos]="taskChildrenNos"
    [root_task_card]="root_task_card"
    [showAddIcon]="showAddIcon"
    [canCancelCollaboration]="canCancelCollaboration"
    [change_status]="cardInfo.change_status"
    [old_task_status]="cardInfo.old_task_status"
  ></app-card-body>
  <app-card-foot
    [source]="source"
    [sourceRealy]="sourceRealy"
    [cardInfo]="cardInfo"
    [hasAuth]="hasAuth"
    [signOff]="signOff"
    [taskChildrenNos]="taskChildrenNos"
    [root_task_card]="root_task_card"
    [showAddIcon]="showAddIcon"
    [change_status]="cardInfo.change_status"
    [old_task_status]="cardInfo.old_task_status"
  ></app-card-foot>
  <ng-template #contentTemplate>
    <app-card-operation
      #cardOperation
      [nzPopover]="wbsCardPopover"
      (previewEmitter)="preview($event)"
      [currentEditingCard]="currentEditingCard"
      [source]="source"
      [sourceRealy]="sourceRealy"
      [cardInfo]="cardInfo"
      [hasAuth]="hasAuth"
      [signOff]="signOff"
      [taskChildrenNos]="taskChildrenNos"
      [root_task_card]="root_task_card"
      [change_status]="cardInfo.change_status"
      [old_task_status]="cardInfo.old_task_status"
      [showAddIcon]="showAddIcon"
      [currentCard]="currentCard"
      [triggerConfirmDeleteVisible]="triggerConfirmDeleteVisible"
      [setPopoverVisible]="setPopoverVisible.bind(this)"
      [cardExecutionStatusInfo]="cardBody.cardExecutionStatusInfo"
      [setPopoverConfig]="setPopoverConfig"
    ></app-card-operation>
  </ng-template>
  <div
    class="error_card"
    *ngIf="
      isTrackPages &&
      !errorInfoList.includes(cardInfo.task_no) &&
      (!cardInfo.liable_person_code || !cardInfo.plan_start_date || !cardInfo.plan_finish_date) &&
      !cardInfo.children.length
    "
  >
    <i class="error_remind"></i>
    <div
      class="text"
      nz-tooltip
      [nzTooltipTitle]="translatePccWord('缺少执行人/日期信息，任务无法下发！')"
      nzTooltipPlacement="bottom"
      [athTooltipMouseEnterDelay]="0.5"
    >
      {{ 'dj-pcc-缺少执行人/日期信息，任务无法下发！' | translate }}
    </div>
    <em
      class="close-error"
      athIcon
      iconfont="icon-guanbi"
      (click)="closeErrorCard(cardInfo.task_no, $event)"
    ></em>
  </div>
  <!-- 任务比重提示信息 -->
  <div
    class="error_card"
    *ngIf="
      !isTrackPages &&
      wbsService.taskProportionCheck?.taskInfoTip &&
      hasTaskProportion(cardInfo.task_no)
    "
  >
    <div
      class="text"
      nz-tooltip
      [nzTooltipTitle]="
        translatePccWord(
          '存在下阶任务的任务比重 < 100%，则所有下阶任务的任务比重累计必须等于100%！'
        )
      "
      [athTooltipMouseEnterDelay]="0.5"
      nzTooltipPlacement="bottom"
    >
      {{
        'dj-pcc-存在下阶任务的任务比重 < 100%，则所有下阶任务的任务比重累计必须等于100%！'
          | translate
      }}
    </div>
  </div>
</div>
