<ath-spin class="pcc-problem-handling" [athSpinning]="pageLoading">
  <div class="content-container" [hidden]="pageLoading">
    <ng-container *ngIf="isNotEmpty(pageData); else emptyDataPage">
      <div
        class="pcc-problem-handling-header"
        [ngClass]="{
          'has-padding': pageType !== QuestPageType.BASIC_INFORMATION
        }"
      >
        <div class="h-left">
          <span>{{ pageData.question_no }}</span>
          <nz-tag
            *ngIf="pageData.status === QuestPageDataStatus.PENDING"
            class="status-processing"
            >{{ 'dj-pcc-待处理' | translate }}</nz-tag
          >
          <nz-tag
            *ngIf="pageData.status === QuestPageDataStatus.TRANSFERRED"
            class="status-processing"
            >{{ 'dj-pcc-处理中' | translate }}</nz-tag
          >
          <nz-tag
            *ngIf="pageData.status === QuestPageDataStatus.ACCEPTANCE"
            class="status-acceptance"
            >{{ 'dj-pcc-验收中' | translate }}</nz-tag
          >
          <nz-tag
            *ngIf="pageData.status === QuestPageDataStatus.RETURN_AND_REDO"
            class="status-returnAndRedo"
            >{{ 'dj-pcc-退回重办' | translate }}</nz-tag
          >
          <nz-tag *ngIf="pageData.status === QuestPageDataStatus.DONE" class="status-closed">{{
            'dj-pcc-已完成' | translate
          }}</nz-tag>
        </div>
        <div class="h-right">
          <button class="view-journeys" ath-button nzSize="small" (click)="viewJourneys()">
            <i athIcon iconfont="iconqiangzhibaogong"></i> {{ 'dj-pcc-查看历程' | translate }}
          </button>
          <div
            class="view-attachment"
            dynamic-ant-form
            [group]="problemHandlingService.uploadGroup"
            [layout]="problemHandlingService.uploadLayout"
            [model]="problemHandlingService.uploadModel"
          ></div>
        </div>
      </div>
      <nz-alert
        *ngIf="pageCardInfo.hasPageCardInfo"
        class="page-card-info"
        [nzType]="pageCardInfo.type"
        [nzMessage]="pageCardInfo.message"
        [title]="pageCardInfo.message"
        nzShowIcon
      ></nz-alert>
      <ac-collapse
        class="pcc-problem-handling-body"
        [ngClass]="{
          readonly: pageReadonly,
          'can-submit': pageCanSubmit,
          'has-page-card-info': pageCardInfo.hasPageCardInfo,
          'header-has-padding': pageType !== QuestPageType.BASIC_INFORMATION
        }"
        [accordion]="false"
        [style]="{ background: 'none' }"
      >
        <ac-collapse-panel header="{{ 'dj-pcc-基本信息' | translate }}" [active]="true">
          <app-base-info-form></app-base-info-form>
        </ac-collapse-panel>
        <ac-collapse-panel
          class="quest-do-collapse"
          header="{{ 'dj-pcc-问题处理事项记录' | translate }}"
          [active]="true"
          [extra]="pageReadonly ? '' : extra"
          (activeChange)="collapseActive = $event"
        >
          <ng-template #extra>
            <div [hidden]="!collapseActive">
              <button
                class="btn-item"
                ath-button
                athType="primary"
                nzSize="small"
                (click)="addItem(); $event.stopPropagation()"
              >
                <i athIcon iconfont="icontianjia_moren"></i>
                {{ 'dj-default-新增' | translate }}
              </button>
              <button
                class="btn-item"
                ath-button
                nzSize="small"
                (click)="$event.stopPropagation()"
                [disabled]="!canBatchDeletion"
                nz-popconfirm
                nzPopconfirmTitle="{{ 'dj-pcc-是否删除所选数据' | translate }}"
                (nzOnConfirm)="batchDeleteHandler()"
              >
                <i athIcon iconfont="iconshanchu5"></i>
                {{ 'dj-default-删除' | translate }}
              </button>
              <!-- todo -->
              <!-- <button
                  class="btn-item"
                  ath-button
                  nzSize="small"
                  [disabled]="!canBatchToTask"
                  (click)="$event.stopPropagation()"
                >
                  <i athIcon iconfont="iconfaqibiangeng1"></i>
                  {{ 'dj-pcc-转任务' | translate }}
                </button> -->
            </div>
          </ng-template>
          <app-handling-matters-table
            #handingMatterTable
            [setRightBtnDisabled]="setRightBtnDisabled"
            (selectRowChange)="tableSelectRows = $event"
          ></app-handling-matters-table>
        </ac-collapse-panel>
      </ac-collapse>
      <div class="btn-group" *ngIf="!pageReadonly || pageCanSubmit">
        <app-submit-btn
          style="margin-right: 16px"
          [modalTitle]="leftBtnInfo.modalTitle"
          [btnText]="leftBtnInfo.btnText"
          [employeePlaceHolder]="leftBtnInfo.employeePlaceHolder"
          [descPlaceHolder]="leftBtnInfo.descPlaceHolder"
          [okFn]="transfer.bind(this)"
          [employeeAsyncValidators]="[employeeNameVerifyFn.bind(this)]"
          [defaultData]="leftBtnInfo.defaultData"
        ></app-submit-btn>
        <app-submit-btn
          style="margin-right: 16px"
          [btnText]="rightBtnInfo.btnText"
          btnType="primary"
          [modalTitle]="rightBtnInfo.modalTitle"
          [btnNoSubmit]="rightBtnDisabled"
          [btnSubmitBefore]="rightBtnInfo.btnSubmitBefore"
          [descPlaceHolder]="rightBtnInfo.descPlaceHolder"
          [needEmployee]="false"
          [descRequired]="false"
          [okFn]="processingIsComplete.bind(this)"
          [defaultData]="rightBtnInfo.defaultData"
        ></app-submit-btn>
        <!-- <ac-transfer-return
          style="margin-right: 16px"
          [model]="copModel"
          [btnText]="leftBtnInfo.btnText"
          [modalTitle]="leftBtnInfo.modalTitle"
          (verifyFn)="verifyFn($event)"
          [employeeOpenType]="'2'"
          [employeePlaceHolder]="leftBtnInfo.employeePlaceHolder"
          [descPlaceHolder]="leftBtnInfo.descPlaceHolder"
          (okFn)="transfer($event)"
        ></ac-transfer-return>
        <ac-transfer-return
          [model]="copModel"
          btnType="primary"
          [btnDisabled]="rightBtnDisabled"
          [btnText]="rightBtnInfo.btnText"
          [modalTitle]="rightBtnInfo.modalTitle"
          [descPlaceHolder]="rightBtnInfo.descPlaceHolder"
          [needEmployee]="false"
          [descRequired]="false"
          (okFn)="processingIsComplete($event)"
        ></ac-transfer-return> -->
      </div>
    </ng-container>
    <ng-template #emptyDataPage>
      <ath-empty></ath-empty>
    </ng-template>
  </div>
</ath-spin>
