<div class="tabs">
  <app-start-project
    (changTabIndex)="changTabIndex()"
    (startProject)="startProject()"
    [isCanDelete]="isCanDelete"
  ></app-start-project>
  <nz-tabset
    nzType="card"
    [nzSelectedIndex]="tabIndex"
    [nzAnimated]="false"
    (nzSelectedIndexChange)="changeIndex($event)"
  >
    <nz-tab nzTitle="{{ 'dj-default-计划维护' | translate }}">
      <app-dynamic-wbs
        *ngIf="wbsService.projectInfo?.project_no"
        [source]="Entry.card"
        [changeConfigData]="changeConfigData"
        #wbsComponent
      ></app-dynamic-wbs>
    </nz-tab>
    <nz-tab nzTitle="{{ 'dj-pcc-专案基础信息维护' | translate }}">
      <app-project-creation
        *ngIf="wbsService.projectInfo?.project_no"
        [potentialStatus]="wbsTabsService.potentialStatus"
        [tabIndex]="tabIndex"
        (successTransfer)="successTransfer($event)"
        (changeConfig)="changeConfig($event)"
        #creationComponent
      ></app-project-creation>
    </nz-tab>
    <nz-tab nzTitle="{{ 'dj-default-账款分期信息' | translate }}" *ngIf="hasGroundEnd === 'Y'">
      <app-accounts-periodization></app-accounts-periodization>
    </nz-tab>
    <nz-tab nzTitle="{{ 'dj-default-交付物清单' | translate }}">
      <app-list-of-deliverable
        *ngIf="wbsService.projectInfo?.project_no"
        [source]="Entry.card"
        [executeContext]="model.content?.executeContext"
        [tabIndex]="tabIndex"
      ></app-list-of-deliverable>
    </nz-tab>
    <nz-tab nzTitle="{{ 'dj-default-参与部门人员' | translate }}">
      <app-list-of-department
        *ngIf="wbsService.projectInfo?.project_no"
        [executeContext]="model.content?.executeContext"
        [tabIndex]="tabIndex"
      ></app-list-of-department>
    </nz-tab>
    <!-- 光斯奥个案需求 -->
    <nz-tab
      *ngIf="gongsiaoProjPlanOthInfoDynamicModel"
      nzTitle="{{ 'dj-default-其他信息' | translate }}"
    >
      <ath-dynamic-customized
        *ngIf="wbsService.projectInfo?.project_no"
        class="gongsiao-proj-plan-othInfo"
        [dynamicModel]="gongsiaoProjPlanOthInfoDynamicModel"
      ></ath-dynamic-customized
    ></nz-tab>
  </nz-tabset>
</div>
