<ng-template #svgTemplate>
  <div class="no-data-box">
    <div>
      <app-svg-file [type]="'noData'"></app-svg-file>
      <p>{{ 'dj-c-暂无数据' | translate }}</p>
    </div>
  </div>
</ng-template>
<div class="content" *ngIf="order_info; else svgTemplate">
  <div class="box">
    <div class="title">{{ 'dj-default-交易货币' | translate }}</div>
    <div class="value">{{ order_info?.trans_currency }}</div>
  </div>
  <div class="box">
    <div class="title">{{ 'dj-default-合同价格' | translate }}</div>
    <div class="value">{{ order_info?.contract_trans_curr_amount }}</div>
    <div class="is-tax-included">
      <label nz-checkbox [(ngModel)]="isTaxIncluded" nzDisabled>
        <span>{{ 'dj-default-含税' | translate }}</span>
      </label>
    </div>
  </div>
  <div class="box">
    <div class="title">{{ 'dj-default-付款方式' | translate }}</div>
    <div class="value">{{ order_info?.payment_method }}</div>
  </div>
  <div class="box">
    <div class="title">{{ 'dj-pcc-账款分期' | translate }}</div>
  </div>
  <div class="table-content">
    <nz-table
      #basicTable
      [nzData]="order_info?.instalment_info"
      [nzShowPagination]="false"
      [nzFrontPagination]="false"
      [nzScroll]="{ y: 'calc(100vh - 460px)' }"
    >
      <thead>
        <tr>
          <th>{{ 'dj-default-期号' | translate }}</th>
          <th>{{ 'dj-default-分期名称' | translate }}</th>
          <th>{{ 'dj-default-分期比率' | translate }}</th>
          <th>{{ 'dj-default-分期金额' | translate }}</th>
          <th>{{ 'dj-default-分期描述' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data">
          <td>{{ item.instalment_stage }}</td>
          <td>{{ item.instalment_stage_name }}</td>
          <td>{{ item.instalment_rate }}%</td>
          <td>{{ item.instalment_trans_curr_amount }}</td>
          <td>{{ item.instalment_description }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
