<div class="task-wbs">
  <nz-alert
    class="errorInfo"
    *ngIf="wbsService.taskProportionCheck?.projectInfoTip"
    nzType="error"
    [nzMessage]="taskTipInfo"
    nzShowIcon
  ></nz-alert>
  <!--  协同计划排定 - 任务卡 -->
  <ac-tabset
    [nzTabBarExtraContent]="nzTabBarExtraContent"
    [(nzSelectedIndex)]="tabIndex"
    (nzSelectedIndexChange)="changeIndex($event)"
    nzType="card"
  >
    <ac-tab nzTitle="{{ 'dj-default-计划维护' | translate }}">
      <div class="optionButtons">
        <div
          *ngIf="wbsService.typeChange === 'pert' || wbsService.typeChange === 'card'"
          class="tip-box baseButtonStyle"
          athTooltip
          athTooltipPlacement="right"
          athTooltipOverlayClassName="pcc-tip-content-container"
          [athTooltipColor]="'#fff'"
          [athTooltipTitle]="tipContentTemplate"
        >
          <i athIcon [iconfont]="'iconshuoming3'" class="tip-icon"></i>
        </div>
        <ng-template #tipContentTemplate>
          <div class="pcc-tip-content" [innerHTML]="tipContent()"></div>
        </ng-template>
        <div *ngIf="isApproveStatus" class="baseButtonStyle" (click)="lookSignOffProgress()">
          {{ 'dj-c-查看签核进度' | translate }}
        </div>
        <div class="typeChangeBox">
          <div
            class="baseButtonStyle"
            [ngClass]="{ typeChange: wbsService.typeChange === 'card' }"
            (click)="changeType('card')"
          >
            <em class="icon">
              <i athIcon [iconfont]="'iconyou2'"></i>
            </em>
            {{ 'dj-pcc-卡片' | translate }}
          </div>
          <div
            class="baseButtonStyle"
            [ngClass]="{ typeChange: wbsService.typeChange === 'table' }"
            (click)="changeType('table')"
          >
            <em class="icon">
              <i athIcon [iconfont]="'iconbiaogebeifen'"></i>
            </em>
            {{ 'dj-pcc-表格' | translate }}
          </div>
        </div>
      </div>
      <!--  协同计划排定 - 页签页面 -->
      <app-dynamic-task-wbs-list
        sourceRealy="collaborate"
        [model]="model"
        [group]="group"
        [loadingModal]="loadingModal"
        (refreshPage)="refreshPage()"
        (changeWbsTaskProportion)="changeWbsTaskProportion()"
      ></app-dynamic-task-wbs-list>
    </ac-tab>
    <ac-tab nzTitle="{{ 'dj-default-交付物清单' | translate }}">
      <app-list-of-deliverable-v2
        [source]="Entry.collaborate"
        [executeContext]="model.content?.executeContext"
        [tabIndex]="tabIndex + 2"
        [tabName]="'app-list-of-deliverable'"
      ></app-list-of-deliverable-v2>
    </ac-tab>
  </ac-tabset>

  <ng-template #nzTabBarExtraContent>
    <div class="tab-bar-div">
      <app-cancel-collaboration
        #$cancelCollaboration
        [sourceData]="datas"
        [source]="Entry.collaborate"
        [athType]="'default'"
        [loadingModal]="loadingModal"
        [isDisabled]="isDisabled"
        (cancelSuccess)="cancelCollaborationSuccess()"
        (cancelFullFail)="cancelCollaborationFullFail()"
      ></app-cancel-collaboration>
    </div>
  </ng-template>
</div>

<app-loading-modal #loadingModal></app-loading-modal>
