.project-operations {
  display: flex;
  align-items: center;
  z-index: 10;
  caret-color: rgba(0,0,0,0);
  .baseButtonStyle{
    padding: 4px 8px;
    color: #333333;
    border: 1px solid #dddddd;
    border-radius: 2px 0 0 2px;
    font-size: 12px;
    line-height: 16px;
  }
  .baseButtonStyle:hover{
    color: #6167cc;
    border: 1px solid #6167cc;
    position: relative;
    z-index: 10;
  }
  p {
    color: #2012d9;
    cursor: pointer;
    line-height: 15px;
    margin-left: 12px;
  }
  .start-disable {
    color: #ccc;
    border: 1px solid #ccc !important;
  }
  .potential-disabled {
    color: #ccc;
    border: 1px solid #ccc;
  }
  .save-template-disabled{
    position: relative;
    &::before{
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 100;
      cursor: not-allowed;
    }
  }

  .delete-box{
    position: relative;

    &.gray{
      border: 1px solid #ccc;
      color: #ccc;
      cursor: not-allowed;
    }
  }
}

::ng-deep .modal-content-center {
  .ant-modal-confirm-content {
    margin-top: 20px !important;
  }
}

