<div class="spin-box" *ngIf="isShowSpin; else startShow">
  <nz-spin nzSimple></nz-spin>
</div>
<ng-template #startShow>
  <ac-tabset>
    <ac-tab [nzTitle]="tab.label | translate : { n: tab.sum }" *ngFor="let tab of tabList">
      <ac-export
        [isBackendExport]="true"
        backendApi="uc.cy.wo.work.report.export"
        [backendParams]="{
          query_condition: [
            {
              project_no: ''
            }
          ]
        }"
      ></ac-export>

      <ac-editable-table
        class="table-box"
        [frameworkComponents]="frameworkComponents"
        [componentCode]="'table'"
        [dataSource]="tab.tableDataSource"
        [rowCheckbox]="false"
        [pagination]="false"
        [columnDefs]="columnDefs"
        [frameworkComponents]="frameworkComponents"
        [athTableProps]="athTableProps"
      ></ac-editable-table>
    </ac-tab>
  </ac-tabset>
</ng-template>
