<div class="project-plan-content progress-tracking-content">
  <div
    *ngFor="let item of progressTrackingData"
    class="project-info"
    [class.first-level]="item.level === 0"
    [ngStyle]="{ width: 248 - item.level * 8 + 'px' }"
  >
    <div
      #cardWrapper
      class="card-wrapper"
      [ngClass]="{ 'sub-card-wrapper': item.level !== 0 }"
      (click)="showTaskDetail(item)"
      [userBehavior]="{ name: 'dj-default-点击卡片', code: showTaskDetailCode }"
      [style]="{ marginBottom: cardMarginBottom + 'px' }"
    >
      <app-wbs-card
        #wbsCardCop
        [source]="source"
        [cardInfo]="item"
        [errorInfoList]="closeList"
        [parentWbsCardCop]="parentWbsCardCop"
        (rendered)="onCardRendered($event)"
      ></app-wbs-card>
      <div
        class="next-level-num"
        *ngIf="item.children && item.children.length"
        (click)="showOrHideChildren(item, $event, wbsCardCop)"
        [style]="{
          bottom: wbsCardCop.getCardOtherInfo('cardShowAndHiddenBtnPositionBottom') + 'px'
        }"
      >
        <svg
          *ngIf="item.isChildrenshow; else unfold"
          t="1708413531832"
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="34278"
          width="200"
          height="200"
        >
          <path
            d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z"
            fill="#ABADC4"
            p-id="34279"
          ></path>
          <path
            d="M219.428571 438.857143m73.142858 0l438.857142 0q73.142857 0 73.142858 73.142857l0 0q0 73.142857-73.142858 73.142857l-438.857142 0q-73.142857 0-73.142858-73.142857l0 0q0-73.142857 73.142858-73.142857Z"
            fill="#FFFFFF"
            p-id="34280"
          ></path>
        </svg>
        <ng-template #unfold>
          <svg
            t="1708413557756"
            class="icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="34424"
            width="200"
            height="200"
          >
            <path
              d="M512 512m512 0a512 512 0 1 0-1024 0 512 512 0 1 0 1024 0Z"
              fill="#ABADC4"
              p-id="34425"
            ></path>
            <path
              d="M328.777143 621.348571a51.2 51.2 0 0 1-77.824-66.048l5.412571-6.363428 219.428572-219.428572a51.2 51.2 0 0 1 66.048-5.412571l6.363428 5.412571 219.428572 219.428572a51.2 51.2 0 0 1-66.048 77.824l-6.363429-5.412572L512 438.052571l-183.222857 183.296z"
              fill="#FAFAFA"
              p-id="34426"
            ></path>
          </svg>
        </ng-template>
      </div>
      <div
        #connection
        class="connection"
        [style]="{
          height: wbsCardCop.getCardOtherInfo('connectHeight') + 'px',
          bottom:
            -wbsCardCop.getCardOtherInfo('connectHeight') +
            wbsCardCop.getCardOtherInfo('cardShowAndHiddenBtnPositionBottom') +
            'px'
        }"
        [hidden]="!(item.children && item.children.length && item.isChildrenshow)"
      ></div>
    </div>
    <ng-container *ngIf="item.children && item.children.length">
      <app-progress-tracking-card-v2
        [parentWbsCardCop]="wbsCardCop"
        [hidden]="!item.isChildrenshow"
        [source]="source"
        [progressTrackingList]="item.children"
        recursive-root
      ></app-progress-tracking-card-v2>
    </ng-container>
  </div>
</div>

<!-- 通知执行人 -->
<!-- 对谈， 已废弃 -->
<nz-modal
  [(nzVisible)]="msgModalVisible"
  [nzContent]="msgModalTmpl"
  [nzFooter]="null"
  [nzClosable]="false"
  [nzWidth]="550"
>
  <ng-template #msgModalTmpl nzModalContent>
    <div>
      <div class="msg-modal-title">{{ 'dj-c-通知提醒' | translate }}{{ msgUserName }}</div>
      <textarea
        class="msg-modal-input"
        appHeightFollowScrollHeight
        nz-input
        [placeholder]="'dj-c-msg-content' | translate"
        [(ngModel)]="msgContentVal"
        [maxlength]="255"
      ></textarea>
    </div>
    <div class="msg-modal-btns">
      <button nz-button nzType="default" (click)="handleMsgCancel()">
        {{ 'dj-c-取消' | translate }}
      </button>
      <button nz-button nzType="primary" (click)="notifyExecutor($event)">
        {{ 'dj-c-发送' | translate }}
      </button>
    </div>
  </ng-template>
</nz-modal>
