<div class="pcc-project-change-waitting">
  <div class="pcc-sign-off-progress-link" (click)="openWindow()">
    {{ 'dj-pcc-查看签核进度' | translate }}>
  </div>
  <div class="pcc-approval-description">
    <div class="description">
      <span class="title">{{ 'dj-default-项目编号' | translate }}：</span>
      <span class="info">{{ project_change_doc_info?.project_no }}</span>
      <span class="border">|</span>
    </div>
    <div class="description">
      <span class="title">{{ 'dj-default-项目名称' | translate }}：</span>
      <span class="info">{{ project_change_doc_info?.project_name }}</span>
      <span class="border">|</span>
    </div>
    <div class="description">
      <span class="title">{{ 'dj-default-项目负责人名称' | translate }}：</span>
      <span class="info">{{ project_change_doc_info?.project_leader_name }}</span>
    </div>
  </div>
</div>
<nz-spin [nzSpinning]="changeLoading">
  <div class="task-wbs">
    <!--  项目变更任务签核 -->
    <ac-tabset
      *ngIf="wbsService.projectChangeDoc?.change_type"
      nzType="card"
      [nzSelectedIndex]="tabIndex"
      [nzAnimated]="false"
      (nzSelectedIndexChange)="changeIndex($event)"
    >
      <ac-tab
        *ngIf="wbsService.projectChangeDoc.change_type === '2'"
        nzTitle="{{ 'dj-default-计划维护' | translate }}"
        (nzSelect)="tabClickHandle('app-dynamic-wbs')"
      >
        <app-dynamic-wbs
          *ngIf="wbsService.projectInfo?.project_no"
          [source]="Entry.projectChange"
          [sourceRealy]="Entry.projectChangeSignOff"
          [signOff]="true"
          [changeConfigData]="changeConfigData"
          [tabName]="tabName"
          [tabIndex]="tabIndex"
          #wbsComponent
        ></app-dynamic-wbs>
      </ac-tab>
      <ac-tab
        nzTitle="{{ 'dj-pcc-专案基础信息维护' | translate }}"
        (nzSelect)="tabClickHandle('app-project-creation')"
      >
        <ng-container *ngIf="startInitProjectCreation">
          <app-project-creation
            *ngIf="wbsService.projectInfo?.project_no"
            [potentialStatus]="wbsTabsService.potentialStatus"
            [tabName]="tabName"
            [tabIndex]="tabIndex"
            [source]="Entry.projectChangeSignOff"
            [sourceRealy]="Entry.projectChangeSignOff"
            [signOff]="true"
            (successTransfer)="successTransfer($event)"
            (changeConfig)="changeConfig($event)"
            #creationComponent
          ></app-project-creation>
        </ng-container>
      </ac-tab>
      <ac-tab
        *ngIf="wbsService.projectChangeDoc?.change_type !== '1'"
        nzTitle="{{ 'dj-default-参与部门人员' | translate }}"
        (nzSelect)="tabClickHandle('app-list-of-department')"
      >
        <ng-container *ngIf="startInitListOfDepartment">
          <app-list-of-department-v2
            *ngIf="wbsService.projectInfo?.project_no"
            [executeContext]="model.content?.executeContext"
            [tabIndex]="tabIndex"
            [tabName]="tabName"
            [source]="Entry.projectChangeSignOff"
            [signOff]="true"
            #listOfDep
          ></app-list-of-department-v2>
        </ng-container>
      </ac-tab>
    </ac-tabset>
  </div>
</nz-spin>
