<div class="task-wbs">
  <!--  协同计划排定 -->
  <nz-tabset
    nzType="card"
    [nzSelectedIndex]="tabIndex"
    [nzAnimated]="false"
    (nzSelectedIndexChange)="changeIndex($event)"
  >
    <nz-tab nzTitle="{{ 'dj-default-计划维护' | translate }}">
      <app-dynamic-task-wbs-list
        [model]="model"
        [group]="group"
        (changeWbsTaskProportion)="changeWbsTaskProportion()"
      ></app-dynamic-task-wbs-list>
    </nz-tab>
    <nz-tab nzTitle="{{ 'dj-default-交付物清单' | translate }}">
      <app-list-of-deliverable
        [source]="Entry.collaborate"
        [executeContext]="model.content?.executeContext"
        [tabIndex]="tabIndex + 2"
      ></app-list-of-deliverable>
    </nz-tab>
  </nz-tabset>
  <div *ngIf="isApproveStatus" class="approve-progress" (click)="lookSignOffProgress()">
    {{ 'dj-c-查看签核进度' | translate }}
  </div>
</div>
