<ac-open-window-employee
  [formGroup]="formGroup"
  [actionId]="openWindowEmployee.actionId"
  [apiParams]="openWindowEmployee.apiParams"
  [operations]="openWindowEmployee.operations"
  [executeContext]="openWindowEmployee.executeContext"
  [openWindow2Params]="openWindowEmployee.openWindow2Params"
>
  <!-- 插槽 -->
  <ath-input-group
    [label]="label"
    [innerLabel]="innerLabel"
    [required]="required"
    [suffix]="processPersonNameSuffix"
    (click)="openWindowBeforeHandler($event)"
  >
    <input athInput [placeholder]="placeholder" [formControlName]="formControlKey" />
  </ath-input-group>
  <ng-template #processPersonNameSuffix>
    <i
      class="del-icon"
      *ngIf="!!formGroup.get(formControlKey).value"
      athIcon
      iconfont="icon-guanbi1"
      (click)="$event.stopPropagation(); del()"
    ></i>
    <i class="open-icon" athIcon iconfont="icon-kaichuang"></i>
    <span class="mask" (click)="$event.stopPropagation()"></span>
  </ng-template>
</ac-open-window-employee>
<div
  class="ant-form-item-explain ant-form-item-explain-error"
  *ngIf="errorTip && formGroup.get(formControlKey).dirty"
>
  <div class="ng-tns-c1443-71 ng-trigger ng-trigger-helpMotion">{{ errorTip }}</div>
</div>
