<nz-spin [nzSpinning]="loading">
  <section class="content-body" [class]="pageDisabled ? 'page-disabled' : ''">
    <div
      style="height: 100%"
      dynamic-ant-form
      *ngIf="formGroup"
      #dynamic
      [group]="formGroup"
      [layout]="formLayout"
      [model]="formModel"
      (change)="getChanges($event)"
    ></div>
  </section>
  <div class="btn-group" *ngIf="!pageDisabled">
    <button
      ath-button
      [nzLoading]="delLoading"
      nzSize="large"
      nzType="default"
      class="delete"
      [disabled]="!rowSelectedGroups.size"
      (click)="onDel()"
    >
      {{ 'dj-default-删除' | translate }}
    </button>
    <button
      ath-button
      [nzLoading]="saveLoading"
      nzSize="large"
      nzType="primary"
      class="save"
      [disabled]="saveDisabled"
      (click)="onSave()"
    >
      {{ 'dj-pcc-保存' | translate }}
    </button>
  </div>
</nz-spin>

<app-pcc-risk-detail-maintenance
  #maintenanceModal
  [model]="model"
  (confirm)="maintenanceConfirm($event)"
></app-pcc-risk-detail-maintenance>
