<div
  class="content task_detail"
  (click)="clickContent($event)"
  [ngClass]="{ fullContent: fullScreenStatus }"
>
  <div class="fullBox" (click)="toFullScreen()">
    <em class="icon" *ngIf="!fullScreenStatus">
      <svg class="iconfont" aria-hidden="true">
        <use xlink:href="#iconquanpin"></use>
      </svg>
    </em>
    <em class="icon" *ngIf="fullScreenStatus">
      <svg class="iconfont" aria-hidden="true">
        <use xlink:href="#icontcqp"></use>
      </svg>
    </em>
  </div>
  <div class="spin-box" *ngIf="isShowSpin">
    <nz-spin nzSimple></nz-spin>
  </div>
  <div class="table-box" [class.setMaxHeight]="fullScreenStatus" *ngIf="!isShowSpin">
    <div class="tabs" *ngIf="!['REVIEW', 'PCM'].includes(this.wbsService.taskDetail.task_category)">
      <div
        *ngFor="let tab of tabList"
        class="tab-item"
        [class]="{ on: state === tab.code }"
        (click)="changeTab(tab.code)"
      >
        {{ tab.label | translate: { n: tab.sum } }}
      </div>
      <div class="open-sign-off-progress" (click)="openWindow()" *ngIf="this.wbsService.taskDetail?.is_approve">{{ ('dj-pcc-查看签核进度' | translate) + ' >' }}</div>
    </div>
    <div class="tabs" *ngIf="this.wbsService.taskDetail.task_category === 'REVIEW'">
      <div *ngFor="let tab of reviewTabList">
        <div
          class="tab-item"
          *ngIf="tab?.isShow"
          [class]="{ on: state === tab.code }"
          (click)="changeTab(tab.code)"
        >
          {{ tab.label | translate }}
        </div>
      </div>
      <div class="open-sign-off-progress" (click)="openWindow()" *ngIf="this.wbsService.taskDetail?.is_approve">{{ ('dj-pcc-查看签核进度' | translate) + ' >' }}</div>
    </div>

    <div class="table">
      <div class="table-content" *ngIf="dynamicGroup && list.length; else svgTemplate">
        <button *ngIf='isSHowExport()' class="taskDetailExportExcel" ath-toolbar-button (click)="export()">
          {{ 'dj-default-导出' | translate }}
        </button>
        <div
          dynamic-ant-form
          class="table-content"
          [group]="dynamicGroup"
          [model]="dynamicModel"
          *ngIf="!['PLM_PROJECT', 'MES', 'ASSC_ISA_ORDER'].includes(wbsService.taskDetail.task_category)"
        ></div>
        <app-plmProject
          [list]="list"
          *ngIf="['PLM_PROJECT'].includes(wbsService.taskDetail.task_category)"
        ></app-plmProject>
        <app-assc-isa-order
          [list]="list"
          *ngIf="['ASSC_ISA_ORDER'].includes(wbsService.taskDetail.task_category)"
        ></app-assc-isa-order>
        <app-mes-project
          [list]="list"
          [compneyId]="wbsService.taskDetail.eoc_company_id"
          *ngIf="wbsService.taskDetail.task_category === 'MES'"
        ></app-mes-project>
      </div>
      <ng-template #svgTemplate>
        <div class="no-data-box">
          <div>
            <app-svg-file [type]="'noData'"></app-svg-file>
            <p>{{ 'dj-c-暂无数据' | translate }}</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
