<div class="email-container">
  <!-- 加载中的提示 -->
  <nz-spin *ngIf="loading" [nzSpinning]="loading"></nz-spin>
  <!-- http加载失败提示 -->
  <request-failed-prompt
    *ngIf="!loading && loadingFailed"
    (reload)="onReload($event)"
  ></request-failed-prompt>
  <!-- 正文 -->
  <ng-container *ngIf="!loading && !loadingFailed">
    <app-task-content
      *ngIf="isNotEmpty(templateJson)"
      [templateJson]="templateJson"
      (task_submit)="submit($event)"
    >
    </app-task-content>
  </ng-container>
</div>
