<form nz-form [formGroup]="validateForm">
  <div nz-row class="row-box" [nzGutter]="24">
    <div nz-col class="gutter-row" nzSpan="12">
      <nz-form-item [class]="{ noForbidden: isForbidden }">
        <nz-form-control [nzValidateStatus]="personLiable.employee_info?.length ? 'error' : 'success'">
          <div>
            <ath-tree-select
              isInsideLabel
              [label]="translateWord('负责人')"
              [nzDefaultExpandAll]="true"
              style="width: 100%"
              [nzNodes]="personList"
              nzShowSearch
              nzServerSearch
              [nzAllowClear]="isAllowClear"
              [nzPlaceHolder]="translateWord('请选择负责人')"
              formControlName="liable_person_code_data"
              (ngModelChange)="personInCharge($event, false)"
              (nzOnSearch)="searchPersonList($event, '1')"
              [nzDisplayWith]="displayWith"
              [nzTreeTemplate]="nzTreeTemplate"
              >
              <ng-template #nzTreeTemplate let-node let-origin="origin">
                <span class="custom-node">
                  <span *ngIf="origin.title">
                    <span class="file-name">{{ node.title }}</span>
                  </span>
                  <span *ngIf="origin.other">
                    <span class="file-name"> {{origin.deptName}} {{origin.roleName}}</span>
                  </span>
                </span>
              </ng-template>
            </ath-tree-select>
          </div>
          <!-- 错误提示 -->
          <div class="form-item-error" *ngIf="personLiable.employee_info?.length">
            <div
              class="nz-popover-box"
              nz-popover
              [nzPopoverOverlayClassName]="'form-item-error-person-in-popover'"
              [nzPopoverContent]="contentTemplate"
              [nzPopoverTrigger]="personLiable.error_msg?.length > 18 ? 'hover' : 'null'"
              nzPopoverPlacement="leftBottom"
            >
              {{ personLiable.error_msg }}
            </div>
            <ng-template #contentTemplate>
              <div>
                <p>{{ personLiable.error_msg }}</p>
              </div>
            </ng-template>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 执行人 -->
    <div nz-col class="gutter-row" nzSpan="12">
      <nz-form-item>
        <nz-form-control
          [nzErrorTip]="personLiable.error_msg && !executor.employee_info?.length"
          [nzValidateStatus]="executor.employee_info?.length ? 'error' : 'success'"
        >
          <div
            style="display: flex; align-items: center"
            [ngClass]="{noDelte: !isAllowClearForExecutor}"
          >
            <div style="flex: 1">
              <ath-tree-select
                [nzMultiple]="true"
                [nzDefaultExpandAll]="true"
                style="width: 200px"
                [label]="translateWordPcc('执行人')"
                [nzPlaceHolder]="translateWord('请选择执行人')"
                [nzNodes]="personList2"
                [nzAllowClear]="isAllowClearForExecutor"
                class="select-width"
                formControlName="task_member_info"
                isInsideLabel
                nzShowSearch
                nzServerSearch
                [nzMaxTagCount]="1"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                [nzDropdownClassName]="!isAllowClearForExecutor ? 'cus-pcc-add-role not-allow-clear' : 'cus-pcc-add-role executor'"
                [nzDisabled]="!liable_person_code_data || isForbidden || (source === Entry.card && designStatus === 'completed')"
                [nzDisplayWith]="displayWith"
                [(ngModel)]="addSubProjectCardService.validateForm.value.task_member_info"
                (nzOnSearch)="searchPersonList($event, '2')"
                (ngModelChange)="personChanges($event)"
                (nzRemoved)="nzRemovedFn($event)"
                >
                <ng-template #nzTreeTemplate let-node let-origin="origin">
                  <span class="custom-node">
                    <span *ngIf="origin.title">
                      <span class="file-name">{{ node.title }}</span>
                    </span>
                    <span *ngIf="origin.other">
                      <span class="file-name"> {{origin.deptName}} {{origin.roleName}}</span>
                    </span>
                  </span>
                </ng-template>
              </ath-tree-select>
              <ng-template #tagPlaceHolder>
                {{ 'dj-default-其他n人' | translate : { n: task_member_infoList?.length - 1 } }}
              </ng-template>
            </div>
            <div
              [ngClass]="[
                'btn-event',
                isDisable ? 'dis-btn-event' : '',
                (addSubProjectCardService.currentCardInfo?.task_status === '10' || addSubProjectCardService.currentCardInfo?.old_task_status === '10') && (addSubProjectCardService.buttonType === 'EDIT') ? '' : 'dis-btn'
              ]"
              (click)="setSameValue('personnel', $event)"
            >
              {{ 'dj-pcc-人员同值' | translate }}
            </div>
          </div>
          <!-- 错误提示 -->
          <div class="form-item-error padding-left" *ngIf="athenaAuthorityTip.isShow">
            <div
              class="nz-popover-box"
              nz-popover
              [nzPopoverOverlayClassName]="'form-item-error-executor-in-popover'"
              [nzPopoverContent]="contentTemplate"
              [nzPopoverTrigger]="executor.error_msg?.length > 18 ? 'hover' : 'null'"
              nzPopoverPlacement="topRight"
            >
              {{ athenaAuthorityTip.message }}
            </div>
            <ng-template #contentTemplate>
              <div>
                <p>{{ executor.message }}</p>
              </div>
            </ng-template>
          </div>
          <div class="form-item-error" *ngIf="executor.employee_info?.length">
            <div
              class="nz-popover-box"
              nz-popover
              [nzPopoverOverlayClassName]="'form-item-error-executor-in-popover'"
              [nzPopoverContent]="contentTemplate"
              [nzPopoverTrigger]="executor.error_msg?.length > 18 ? 'hover' : 'null'"
              nzPopoverPlacement="topRight"
            >
              {{ executor.error_msg }}
            </div>
            <ng-template #contentTemplate>
              <div>
                <p>{{ executor.error_msg }}</p>
              </div>
            </ng-template>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
