<div
  class="upload"
  [ngClass]="{ uploadDisbale: addSubProjectCardService.currentCardInfo?.someEdit || attachmentData?.length >= 3 }"
>
  <ath-upload
    [disabled]='addSubProjectCardService.isPreview'
    (change)="importData($event)"
    [multiple]="true"
    [(fileList)]="attachmentData"
    remark="{{ 'dj-default-请上传50MB以内的附件' | translate }}"
    [beforeUpload]="beforeUpload"
    [dmcSettings]="dmcSettings"
    [fileListRender]="fileListRender"
  >
    <div class="uploadBtn" [ngClass]='{uploadDisable:addSubProjectCardService.isPreview}' >
      <i athIcon [iconfont]="'icon-duogeshangchuan'" class="icon-duogeshangchuan"></i>
      {{ 'dj-default-交付物样板上传' | translate }}
      <i athIcon [iconfont]="'iconshuoming5'" class="icon-shuoming"
        athTooltip athTooltipTitle="{{ 'dj-default-请上传50MB以内的附件' | translate }}"
        athTooltipPlacement="right"></i>
    </div>
  </ath-upload>
  <ng-template #fileListRender>
    <div class="ath-upload-list-wrapper">
      <div
        *ngFor="let file of attachmentData; let index = index"
        class="ant-upload-list-text-container ath-upload-list-text-container"
      >
        <div
          class="ant-upload-list-item ant-upload-list-item-{{
            file.status
          }} ant-upload-list-item-list-type-text ath-upload-list-item ath-upload-list-item-{{
            file.status
          }} ath-upload-list-item-list-type-text"
          [attr.data-key]="file.key"
          nz-tooltip
          [nzTooltipTitle]="file.status === 'error' ? file.message : null"
        >
          <div
            class="ath-upload-item"
            nz-popover
            [nzPopoverContent]="file.status === 'done' ? popoverContentTemplate : undefined"
            nzPopoverPlacement="bottom"
          >
            <ng-template #popoverContentTemplate>
              <div class="ath-upload-item-pop-wrap">
                <div class="ath-upload-item-pop-infos">
                  <span class="ath-pop-file-name">{{ file.name }}</span>
                  <span class="ath-pop-file-time">
                    {{'dj-default-上传于' | translate}}{{ file.lastModified ? file.lastModified : file.create_date | date: 'yyyy/MM/dd HH:mm:ss' }}
                  </span>
                  <div class="ath-pop-file-options">
                    <i
                      class="ath-pop-file-download"
                      athIcon
                      nz-tooltip
                      [nzTooltipTitle]="translateService.instant('dj-c-下载')"
                      nzTooltipPlacement="top"
                      iconfont="icon-xiazai"
                      (click)="downLoad(file)"
                    ></i>
                    <a
                      target="_blank"
                      rel="noopener noreferrer"
                      class="ath-pop-file-preview"
                      [attr.title]="file.name"
                      [attr.download]="file.linkProps && file.linkProps.download"
                      (click)="previewFile(file)"
                    >
                      <i
                        athIcon
                        nz-tooltip
                        [nzTooltipTitle]="translateService.instant('dj-c-预览')"
                        nzTooltipPlacement="top"
                        iconfont="icon-chakan"
                      ></i>
                    </a>
                  </div>
                </div>
                <span class="ath-upload-item-pop-info-size">{{ file.size | fileSizePipe }}</span>
              </div>
            </ng-template>
            <nz-progress
              *ngIf="file.status === 'done'"
              [nzPercent]="0"
              nzStrokeLinecap="square"
              [nzStrokeWidth]="24"
              nzStrokeColor="#CDE6FF"
              [nzShowInfo]="false"
              class="ath-progress"
            ></nz-progress>
            <nz-progress
              *ngIf="file.status !== 'done'"
              [nzPercent]="file.percent"
              nzStrokeLinecap="square"
              [nzStrokeWidth]="24"
              nzStrokeColor="#CDE6FF"
              [nzShowInfo]="false"
              class="ath-progress"
            ></nz-progress>
            <div class="ath-upload-item-info">
              <div class="ath-upload-item-info-left">
                <i
                  class="ath-upload-item-file-icon"
                  athIcon
                  [iconfont]="getFileIcon(file).icon"
                  [ngStyle]="{ color: getFileIcon(file).color }"
                ></i>
                <span class="ath-upload-file-name">
                  <span class="ath-upload-file-name-text">{{ getFileName(file) }}</span
                  >.{{ file.name.split('.').pop() || '' }}
                </span>
              </div>
              <i
                *ngIf="!addSubProjectCardService.isPreview && userId === file.upload_user_id"
                class="ath-upload-item-remove-btn"
                athIcon
                nzType="close-circle"
                nzTheme="fill"
                (click)="deleteFile(file)"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- 预览图片 -->
<nz-modal
  [nzVisible]="previewVisible"
  [nzContent]="modalContent"
  [nzFooter]="null"
  (nzOnCancel)="previewVisible = false"
>
  <ng-template #modalContent nzModalContent>
    <img [src]="previewImage" alt="previewImage" [ngStyle]="{ width: '100%' }" />
  </ng-template>
</nz-modal>
