<button
  ath-button
  [athType]="btnType"
  nzSize="large"
  [noSubmit]="btnNoSubmit"
  [disabled]="btnDisabled"
  (click)="openWindow()"
>
  {{ btnText }}
</button>

<ng-template #openWindowContent>
  <form
    *ngIf="formGroup"
    class="pcc-submit-btn"
    ath-form
    [formGroup]="formGroup"
    nzLayout="horizontal"
  >
    <ath-form-control
      class="form-item"
      *ngIf="needEmployee"
      style="margin-bottom: 10px"
      [nzValidateStatus]="employeeValidateStatus"
      nzValidatingTip="{{ 'dj-pcc-正在校验中' | translate }}"
      [nzErrorTip]="errorHandel('employeeName')"
    >
      <app-select-people
        [openWindowEmployee]="openWindowEmployee"
        [label]="employeePlaceHolder"
        [innerLabel]="true"
        [required]="employeeRequired"
        [placeholder]="employeePlaceHolder"
        formControlKey="employeeName"
        [formGroup]="formGroup"
        [linkSchema]="['employeeInfo']"
      ></app-select-people>
    </ath-form-control>
    <ath-form-control class="form-item" [nzErrorTip]="errorHandel('description')">
      <ath-input-group innerLabel [label]="descPlaceHolder" [required]="descRequired">
        <textarea
          athInput
          [placeholder]="descPlaceHolder"
          [cols]="1"
          [rows]="3"
          [autosize]="{ minRows: 3, maxRows: 6 }"
          [maxlength]="255"
          formControlName="description"
        ></textarea>
      </ath-input-group>
    </ath-form-control>
  </form>
</ng-template>
