<div class="progress-analysis-box">
  <div class="tab-box">
    <div
      class="analysis-box"
      [ngClass]="{ 'project-analysis': progressAnalysisService.isShowProjectAnalysis }"
      (click)="changeToTask()"
    >
      {{ 'dj-default-项目进度分析' | translate }}
    </div>
    <div
      class="analysis-box"
      [ngClass]="{ 'task-analysis': !progressAnalysisService.isShowProjectAnalysis }"
      (click)="changeToProject()"
    >
      {{ 'dj-default-任务追踪分析' | translate }}
    </div>
  </div>

  <app-project-analysis
    [hidden]="!progressAnalysisService.isShowProjectAnalysis"
  ></app-project-analysis>
  <app-task-analysis [hidden]="progressAnalysisService.isShowProjectAnalysis"></app-task-analysis>
</div>
