<div class="abnormal overdue" *ngIf="currentStatus < 0">
  <em class="icon">
    <svg class="iconfont" aria-hidden="true">
      <use xlink:href="#iconbiaogezhonglahou"></use>
    </svg>
  </em>
  {{ 'dj-default-落后n' | translate: { n: showStatus } }}
</div>
<div class="abnormal advance" *ngIf="currentStatus > 0">
  <em class="icon">
    <svg class="iconfont" aria-hidden="true">
      <use xlink:href="#iconbiaogezhongchaoqian"></use>
    </svg>
  </em>
  {{ 'dj-default-超前n' | translate: { n: showStatus } }}
</div>
<div class="normal" *ngIf="currentStatus === 0">
  {{ 'dj-default-准时' | translate }}
</div>
