<div nz-row class="row-switch-box">
  <label class="switch-label" for="automatic_re_push">
    {{ 'dj-pcc-自动重推日期及工期' | translate }}
  </label>
  <ath-switch
    [nzDisabled]="addSubProjectCardService.isPreview"
    [(ngModel)]="automatic_re_push"
  ></ath-switch>
  <i
    athIcon
    [iconfont]="'iconshuoming5'"
    class="icon-info"
    athTooltip
    [athTooltipTitle]="translateForAutomaticTip()"
    athTooltipPlacement="right"
  ></i>
</div>

<form nz-form [formGroup]="validateForm">
  <div nz-row class="row-box" [nzGutter]="24">
    <!-- 工期 -->
    <div nz-col class="gutter-row" nzSpan="12">
      <nz-form-item>
        <nz-form-control nzSpan="12">
          <ath-input-number
            [disabled]="this.source === Entry.card && this.designStatus === 'completed'"
            formControlName="workload_qty"
            [placeholder]="0"
            [(ngModel)]="validateForm.value.workload_qty"
            (ngModelChange)="workloadQtyChange($event)"
            [innerLabel]="true"
            [label]="translateWord('工期')"
            [precision]="isFormatterPercent ? '0' : '9'"
            [min]="0"
            [step]="1"
            (focus)="onFocusForWorkLoadQty($event)"
          ></ath-input-number>
        </nz-form-control>
        <nz-form-control nzSpan="12" style="padding-left: 10px">
          <!-- (ngModelChange)="workloadUnitChange($event)" -->
          <!-- fix:55850 【s4.1】自动排期后置任务工作量单位是月时，后置任务日期推算错误；
            因为工作历需要变更，需要修改【单位】栏位，栏位管控为只读，新增默认值“2.日”，编辑显示接口获取的默认值。
           -->
          <ath-select
            style="width: 100%; min-width: 100%"
            [nzDisabled]="true"
            formControlName="workload_unit"
            [nzOptions]="listOfTime"
            [nzPlaceHolder]="translateWord('请选择单位')"
            [(ngModel)]="validateForm.value.workload_unit"
            isInsideLabel
            [label]="translateWord('单位')"
            [nzAllowClear]="false"
          >
          </ath-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- 工时 -->
    <div nz-col class="gutter-row" nzSpan="12">
      <nz-form-item>
        <nz-form-control nzSpan="24">
          <ath-input-number
            class="plan-work-hours"
            [placeholder]="0"
            formControlName="plan_work_hours"
            [min]="0"
            [step]="1"
            [innerLabel]="true"
            [label]="translateWord('预计工时')"
            (focus)="onFocusForWorkHours($event)"
          ></ath-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="row-box" [nzGutter]="24">
    <!-- 开始时间 -->
    <div nz-col class="gutter-row" nzSpan="12">
      <nz-form-item style="display: block">
        <nz-form-control>
          <div>
            <div class="pickerNotice" style="width: 100%; height: 34px">
              <app-input-new
                name="cardStart"
                [value]="validateForm?.controls['plan_start_date']?.value"
                [placeholder]="translateWord('开始时间')"
                (ngModelChange)="startTimeChange($event)"
                [nzDisabledDate]="disabledStartDate"
                [nzDisabled]="validateForm?.controls['plan_start_date'].disabled"
                [nzAllowClear]="true"
              ></app-input-new>
            </div>
          </div>
        </nz-form-control>
        <ng-container *ngIf="!startNoticeErrorInfo; else _startNoticeError">
          <div class="notice">
            {{ startNotice }}
          </div>
          <div *ngIf="startNoticeForlate" class="notice long" [title]="startNoticeForlate">
            {{ startNoticeForlate }}
          </div>
        </ng-container>
        <ng-template #_startNoticeError>
          <div class="work-load-error-info" [title]="startNoticeErrorInfo">
            {{ startNoticeErrorInfo }}
          </div>
        </ng-template>
        <div></div>
      </nz-form-item>
    </div>

    <!-- 结束时间 -->
    <div nz-col class="gutter-row" nzSpan="12">
      <nz-form-item style="display: block">
        <nz-form-control>
          <div style="display: flex; align-items: center">
            <div class="pickerNotice" style="flex: 1; height: 34px">
              <app-input-new
                name="plan_finish_date"
                [value]="validateForm?.controls['plan_finish_date'].value"
                [placeholder]="translateWord('结束时间')"
                (ngModelChange)="endTimeChange($event)"
                [nzDisabledDate]="disabledEndDate"
                [nzDisabled]="validateForm?.controls['plan_finish_date'].disabled"
                [nzAllowClear]="true"
              ></app-input-new>
            </div>
            <div
              class="btn-event"
              [class]="
                (addSubProjectCardService.currentCardInfo?.task_status === '10' ||
                  addSubProjectCardService.currentCardInfo?.old_task_status === '10') &&
                addSubProjectCardService.buttonType === 'EDIT'
                  ? ''
                  : 'dis-btn'
              "
              [class.dis-btn-event]="isDisable"
              (click)="setSameValue($event)"
            >
              {{ 'dj-pcc-日期同值' | translate }}
            </div>
          </div>
        </nz-form-control>
        <ng-container *ngIf="!endNoticeErrorInfo; else _endNoticeError">
          <div class="notice">
            {{ endNotice }}
          </div>
          <div *ngIf="endNoticeForEarly" class="notice long" [title]="endNoticeForEarly">
            {{ endNoticeForEarly }}
          </div>
        </ng-container>
        <ng-template #_endNoticeError>
          <div class="work-load-error-info" [title]="endNoticeErrorInfo">
            {{ endNoticeErrorInfo }}
          </div>
        </ng-template>
      </nz-form-item>
    </div>
  </div>
</form>
